<section class="spacing-top-md" id="home-section-one">
  <div class="row center-xs">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 image-circles-column">
      <img src="https://cdn.shopify.com/s/files/1/0307/9746/3685/files/hero-circle-1.png?v=1579557371" alt="" class="image-circles one">
      <img src="https://cdn.shopify.com/s/files/1/0307/9746/3685/files/hero-circle-2.png?v=1579557371" alt="" class="image-circles two">
      <img src="https://cdn.shopify.com/s/files/1/0307/9746/3685/files/hero-circle-3.png?v=1579557371" alt="" class="image-circles three">
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <h1>Eat. Drink. Laugh.</h1>
      <div class="row center-xs">
        <div class="col-lg-7 col-md-7 col-xs-7 col-xs-12">
          <p class="small subtitle-gray">Classy, spacious comedy club with an upscale Italian menu, including pizza & cocktails.</p>
          <div class="bws-button-wrapper">
            <a href="/page/schedule" class="bws-button regular-button">
              {% include 'icon-ticket-light' %}
              <span class="text">buy tickets</span>
            </a>
          </div>
          <p class="small">Have a ticket? <a href="/pages/reservations" class="inline-link-single red">Make a reservation</a></p>
          <a href="#home-section-two" class="anchor-scroll">
            {% include 'down-arrow-light' %}
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 image-circles-column">
      <img src="https://cdn.shopify.com/s/files/1/0307/9746/3685/files/hero-circle-4.png?v=1579557371" alt="" class="image-circles four">
      <img src="https://cdn.shopify.com/s/files/1/0307/9746/3685/files/hero-circle-5.png?v=1579557371" alt="" class="image-circles five">
      <img src="https://cdn.shopify.com/s/files/1/0307/9746/3685/files/hero-circle-6.png?v=1579557371" alt="" class="image-circles six">
    </div>
  </div>
</section>

<section class="spacing-top-and-bottom-xs bg-darker" id="home-section-two">
  <div class="row center-xs middle-xs icon-set-one">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
      {% include 'icon-large-ticket-red' %}
      <p>Buy a ticket</p>
      <p class="xs-small">Classy, spacious comedy club with an upscale italian menu.</p>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
      {% include 'icon-table-and-chairs' %}
      <p>Reserve a spot</p>
      <p class="xs-small">Classy, spacious comedy club with an upscale italian menu.</p>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
      {% include 'icon-microphone' %}
      <p>Enjoy the night</p>
      <p class="xs-small">Classy, spacious comedy club with an upscale italian menu.</p>
    </div>
  </div>
</section>

<section class="spacing-top-sm" id="home-section-three">
  <div class="row center-xs">
    <div class="col-xs-12">
      <h2>Upcoming shows</h2>
    </div>
  </div>
  <div class="row center-xs">
    {%- comment -%}
      Style holder for shows - can they be a blog type or product?
    {%- endcomment -%}
    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
      <div class="row schedule-list">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6" id="schedule-item-1">
          <div class="top">
            {% include 'icon-calendar-red' %}
            <h3>Jan 18</h3>
            <p class="xxs-small">20:00 - 22:00</p>
            <img src="https://cdn.shopify.com/s/files/1/0307/9746/3685/files/Carmen_Lynch.png?v=1579641678" alt="Carmen Lynch">
            <h5>Carmen Lynch</h5>
            <p class="xs-small subtitle-gray">Classy, spacious comedy club with an upscale italian menu.</p>
          </div>
          <div class="bws-button-wrapper">
            <a href="/page/schedule" class="bws-button regular-button absolute-link">
              <div class="inner-wrapper">
                {% include 'icon-ticket-light' %}
                <span class="text">make a reservation</span>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6" id="schedule-item-2">
          <div class="top">
            {% include 'icon-calendar-red' %}
            <h3>Jan 22</h3>
            <p class="xxs-small">20:00 - 22:00</p>
            <img src="https://cdn.shopify.com/s/files/1/0307/9746/3685/files/Sara_Schaefer.png?v=1579641687" alt="Carmen Lynch">
            <h5>Sara Schaefer</h5>
            <p class="xs-small subtitle-gray">Classy, spacious comedy club with an upscale italian menu.</p>
          </div>
          <div class="bws-button-wrapper">
            <a href="/page/schedule" class="bws-button regular-button absolute-link">
              <div class="inner-wrapper">
                {% include 'icon-ticket-light' %}
                <span class="text">make a reservation</span>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6" id="schedule-item-3">
          <div class="top">
            {% include 'icon-calendar-red' %}
            <h3>Feb 08</h3>
            <p class="xxs-small">20:00 - 22:00</p>
            <img src="https://cdn.shopify.com/s/files/1/0307/9746/3685/files/Jason_Scoop.png?v=1579641687" alt="Carmen Lynch">
            <h5>Jason Scoop</h5>
            <p class="xs-small subtitle-gray">Classy, spacious comedy club with an upscale italian menu.</p>
          </div>
          <div class="bws-button-wrapper">
            <a href="/page/schedule" class="bws-button regular-button absolute-link">
              <div class="inner-wrapper">
                {% include 'icon-ticket-light' %}
                <span class="text">make a reservation</span>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6" id="schedule-item-4">
          <div class="top">
            {% include 'icon-calendar-red' %}
            <h3>Feb 12</h3>
            <p class="xxs-small">20:00 - 22:00</p>
            <img src="https://cdn.shopify.com/s/files/1/0307/9746/3685/files/Dan_Germain.png?v=1579641687" alt="Carmen Lynch">
            <h5>Dan Germain</h5>
            <p class="xs-small subtitle-gray">Classy, spacious comedy club with an upscale italian menu.</p>
          </div>
          <div class="bws-button-wrapper">
            <a href="/page/schedule" class="bws-button regular-button absolute-link">
              <div class="inner-wrapper">
                {% include 'icon-ticket-light' %}
                <span class="text">make a reservation</span>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row center-xs">
    <div class="bws-button-wrapper">
      <a href="/pages/schedule" class="underline-button-double red">More Shows</a>
    </div>
  </div>
</section>

<section class="spacing-top-and-bottom-sm" id="home-section-four">
  <div class="row middle-xs remove-side-padding-desktop">
    <div class="col-lg-6 col-lg-offset- col-md-6 col-md-offset-1 col-sm-6 col-sm-offset-1 col-xs-12 col-xs-offset-0">
      <div class="google-map" id="home-map"></div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <ul class="icon-list">
        <li class="row middle-xs">
          <span class="col-xs-3"><img src="https://cdn.shopify.com/s/files/1/0307/9746/3685/files/a-c-train.png?v=1579711393" alt="a and c trains"></span>
          <p class="small col-xs-9">A,C to Chambers Street</p>
        </li>
        <li class="row middle-xs">
          <span class="col-xs-3"><img src="https://cdn.shopify.com/s/files/1/0307/9746/3685/files/e-train.png?v=1579711393" alt="e train"></span>
          <p class="small col-xs-9">E to World Trade</p>
        </li>
        <li class="row middle-xs">
          <span class="col-xs-3"><img src="https://cdn.shopify.com/s/files/1/0307/9746/3685/files/2-3-train.png?v=1579711393" alt="2 and 3 trains"></span>
          <p class="small col-xs-9">E to World Trade</p>
        </li>
        <li class="row middle-xs">
          <span class="col-xs-3"><img src="https://cdn.shopify.com/s/files/1/0307/9746/3685/files/4-5-6-train.png?v=1579711393" alt="4 5 and 6 trains"></span>
          <p class="small col-xs-9">4,5,6 to Brooklyn Bridge/City Hall</p>
        </li>
        <li class="row middle-xs">
          <span class="col-xs-3"><img src="https://cdn.shopify.com/s/files/1/0307/9746/3685/files/j-z-train.png?v=1579711394" alt="j and z trains"></span>
          <p class="small col-xs-9">J,Z to Chamber Street</p>
        </li>
        <li class="row middle-xs">
          <span class="col-xs-3"><img src="https://cdn.shopify.com/s/files/1/0307/9746/3685/files/r-train.png?v=1579711393" alt="r train"></span>
          <p class="small col-xs-9">R to City Hall</p>
        </li>
        <li class="row middle-xs">
          <span class="col-xs-3"><img src="https://cdn.shopify.com/s/files/1/0307/9746/3685/files/path-train.png?v=1579711393" alt="path train"></span>
          <p class="small col-xs-9">Path to World Trade Center</p>
        </li>
      </ul>
    </div>
  </div>
</section>