<section id="general-page-section-one">
  {% include 'breadcrumbs' %}
  <div class="row center-xs spacing-top-xxs">
    <h2>{{ page.title }}</h2>
  </div>
</section>
<section class="spacing-top-xxs spacing-bottom-md" id="general-page-section-two">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12 col-xs-offset-0">
      {{ page.content }}
    </div>
  </div>
</section>
