<section class="spacing-top-and-bottom-sm" id="subway-section-one">
  <div class="row center-xs">
    <div class="col-xs-12">
      <h2>Take a subway</h2>
    </div>
  </div>
  
  <div class="row center-xs middle-xs hide-on-tablet">
    <ul class="col-xs-12 subway-list">
      <li>
        <p>
          <a href="#" class="subway-item  active" id="subway-0" data-text="Take the E train to World Trade.">E</a>
        </p>
      </li>
      <li>
        <p>
          <a href="#" class="subway-item" id="subway-1" data-text="Take the A or C train to Chambers Street.">A C</a>
        </p>
      </li>
      <li>
        <p>
          <a href="#" class="subway-item" id="subway-2" data-text="Take the 2 or 3 train to Park Place.">2 3</a>
        </p>
      </li>
      <li>
        <p>
          <a href="#" class="subway-item" id="subway-3" data-text="Take the 4, 5, or 6 train to Brooklyn Bridge/City Hall">4 5 6</a>
        </p>
      </li>
      <li>
        <p>
          <a href="#" class="subway-item" id="subway-4" data-text="Take the J or Z train to Chambers Street.">J Z</a>
        </p>
      </li>
      <li>
        <p>
          <a href="#" class="subway-item" id="subway-5" data-text="Take the R train to City Hall.">R</a>
        </p>
      </li>
      <li>
        <p>
          <a href="#" class="subway-item" id="subway-6" data-text="Take the PATH train to World Trade.">Path</a>
        </p>
      </li>
    </ul>
  </div>
  <div class="row show-on-tablet">
    <ul class="col-xs-12 mobile-subway-list">
      <li class="row middle-xs">
        <div class="col-xs-4">
          {% include 'icon-a-c-trains' %}
        </div>
        <div class="col-xs-8">
          <p class="small">A,C to Chambers Street</p>
        </div>
      </li>
      <li class="row  middle-xs">
        <div class="col-xs-4">
          {% include 'icon-e-train' %}
        </div>
        <div class="col-xs-8">
          <p class="small">E to World Trade Center</p>
        </div>
      </li>
      <li class="row  middle-xs">
        <div class="col-xs-4">
          {% include 'icon-2-3-trains' %}
        </div>
        <div class="col-xs-8">
          <p class="small">2,3 to Park Place</p>
        </div>
      </li>
      <li class="row  middle-xs">
        <div class="col-xs-4">
          {% include 'icon-4-5-6-trains' %}
        </div>
        <div class="col-xs-8">
          <p class="small">4,5,6 to Brooklyn Bridge/City Hall.</p>
        </div>
      </li>
      <li class="row  middle-xs">
        <div class="col-xs-4">
          {% include 'icon-j-z-trains' %}
        </div>
        <div class="col-xs-8">
          <p class="small">J,Z to Chambers Street</p>
        </div>
      </li>
      <li class="row  middle-xs">
        <div class="col-xs-4">
          {% include 'icon-r-train' %}
        </div>
        <div class="col-xs-8">
          <p class="small">R to City Hall</p>
        </div>
      </li>
      <li class="row  middle-xs">
        <div class="col-xs-4">
          {% include 'path-train' %}
        </div>
        <div class="col-xs-8">
          <p class="small">PATH to World Trade Center</p>
        </div>
      </li>
    </ul>
  </div>
  <div class="row center-xs hide-on-tablet" id="subway-copy">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-10">
      <p id="subway-station-copy">The the E train to World Trade.</p>
    </div>
  </div>
  <div class="row middle-xs remove-side-padding-desktop">
    <div class="col-xs-12">
      <div class="map-wrapper">
        <div class="google-map" id="subway-map" style="position: absolute;"></div>
      </div>
    </div>
  </div>
</section>