.product-single__thumbnail-image {
  border: 2px solid transparent;

  .active-thumbnail & {
    border-color: $color-border;
  }
}

body.template-product main {
  padding-top: 0;
}

.background-image {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

#product-hero-row {
  padding-top: 110px;
  padding-bottom: 126px;
  position: relative;

  [class*=col-]:not(.background-image) {
    position: relative;
    z-index: 1;
  }

  .bws-button {
    border: none;
  }

  .product-title {
    margin-bottom: 0.8em;
  }
}

.template-product main {
  padding-top: 0;
}

.event-information {
  margin-top: 73px;
  margin-bottom: 26px;
 
  > li {
    margin-right: 56px;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      width: 2px;
      height: 10px;
      right: -25px;
      top: 0;
      bottom: 0;
      margin: auto;
      background: $color-separator-dark-gray;
    }

    &:last-of-type {
      margin-right: 0;

      &::before {
        background: transparent;
      }
    }
  }

  ul li {
    @include flexbox();

    svg {
      margin-right: 10px;
      position: relative;
      top: -2px;
    }

    p {
      margin-bottom: 0;
    }
  }
}

.product-title {
  font-size: 3.125em;
  line-height: 1.25em;
}

#product-details {
  padding-top: 80px;
  padding-bottom: 80px;

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $pnr;
  }
}

sidebar .sidebar-list {
  padding: 33px 35px;
  border-top: 1px solid $color-red;
  background: $color-dark-3;
  overflow: hidden;
  margin-bottom: 0;

  .section {
    padding-top: 33px;
    padding-bottom: 33px;

    &:last-of-type {
      padding-bottom: 0;
    }
  }

  li ul.row {
    padding-bottom: 18px;

    &:last-of-type {
      padding-bottom: 0;
    }

    p {
      margin-bottom: 0;
    }

    svg {
      margin-right: 10px;
    }
  }

  p.large {
    line-height: 1.5em;
    margin-bottom: 1.1em;
  }

  p.small {
    margin-bottom: 26px;
  }

  li.separator {
    position: relative;

    &::before {
      width: 150%;
      position: absolute;
      content: "";
      height: 1px;
      background: $color-separator-dark-gray;
      left: -20%;
    }
  }
}

sidebar {
  .bws-button {
    border: none;
    width: 100%;

    @include flexbox();
    @include align-items(center);
    @include justify-content(center);
  }
}

.event-comedian-list {
  li {
    padding-bottom: 10px;

    @include flexbox();

    p {
      margin-bottom: 0;
    }
  }

  img {
    clip-path: circle(30px at 35px 35px);
    width: 100%;
    max-width: 70px;
    margin-right: 15px;
  }
}

.content-wrap {
  margin-bottom: 40px;
}

// Mobile Events Slider
.mobile-related {
  #mobile-related-events {
    @include transition(400ms all $cubic);
  }

  .inner-wrap {
    position: relative;
    border: 1px solid $color-separator-dark-gray;
  }

  .lSPager {
    display: none;
    visibility: hidden;
  }

  .slider-column {
    width: 100%;
    max-width: calc(100% - 90px);
  }

  .lSSlideOuter {
    overflow: visible;
  }

  .lightSlider {
    li.lslide {
      left: 6px;
      position: relative;
      opacity: 0;

      @include transition(400ms all $cubic);

      &.active {
        opacity: 1;
      }
    }
  }

  .arrow-column {
    z-index: 3;
    width: 45px;
  }
}

.mobile-related {
  display: none;
  visibility: hidden;
}

@media all and (max-width: 1024px) {
  #product-hero-row {
    padding-left: 15px;
    padding-right: 15px;
  }

  #product-sidebar {
    .sidebar-list li ul {
      @include flexbox();
      @include flex-wrap(initial);
    }

    button.regular-button {
      padding: 22.5px 20%;
    }
  }

  .desktop-related ul.schedule-list li[id^=schedule-item-]:nth-of-type(2) {
    border-right: 1px solid $color-separator-dark-gray;

    li {
      border-color: transparent;
    }
  }
}

@media all and (max-width: 1024px) and (min-width: 769px) {
  .product-title {
    font-size: 3em;
    line-height: 1.25em;
  }

  .control .qty, 
  .control .qty a {
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media all and (max-width: 768px) {
  #product-sidebar {
    margin-top: 40px;
  }

  #product-details {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  #product-collection h2 {
    margin-bottom: 20px;
  }
}

@media all and (max-width: 768px) and (min-width: 577px) {
  .product-title {
    font-size: 2.8em;
    line-height: 1.25em;
  }
}

@media all and (max-width: 576px) {
  .desktop-related {
    display: none;
    visibility: hidden;
  }

  .mobile-related {
    visibility: visible;
    // display: none;
    @include flexbox;
  }
}

@media all and (max-width: 576px) and (min-width: 401px) {
  .product-title {
    font-size: 2.4em;
    line-height: 1.25em;
  }
  
}

@media all and (max-width: 400px) {
  .product-title {
    font-size: 2em;
    line-height: 1.25em;
  }

  .event-comedian-list li {
    max-width: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
}