<div id="cart-dd" class="cart-dd {% if cart.item_count == 0 %}empty{% endif %}">
  
  <div class="row-wrapper">
    <div class="row">
      <div class="col-lg-12 col-form {% if cart.item_count == 0 %}hidden{% endif %}"> 
        <ul class="title row between-xs">
          <li>
            <h4>Your Cart</h4>
          </li>
          </li>
            <span class="cart-close">{% include 'icon-close' %}</span>
          </li>
        </ul>

        <form data-cart-view="data-cart-view">
          <div class="items">
            
            <div rv-each-item="cart.items" class="item">

                  <ul class="row middle-xs start-xs">
                    <li class="calendar-icon">{% include 'icon-calendar-red' %}</li>
                    <li>
                      <ul rv-hide="item.propertyArray | empty">
                          <li rv-each-property="item.propertyArray < properties">
                              <small class="date">{property.value}</small>
                          </li>
                      </ul>
                    </li>
                  </ul>

                <div class="top">

                  <div rv-show="item.variant_title"></div>

                  <div class="name" rv-text="item.title"></div>

                  <div class="price"><em class="price" rv-html="item.price | money"></em></div>
                </div>

                <p class="small"><label>Quantity</label></p>
            
                <div class="control">
                  <div class="minus">
                    <a  href="#" rv-data-cart-update="index | plus 1" rv-data-cart-quantity="item.quantity | minus 1">{% include 'icon-minus-white' %}</a>
                  </div>
                  <div class="qty cart__qty-input">
                    <span class="medium-up--hide" rv-html="item.quantity"></span>
                  </div>
                  <div class="plus">
                    <a  href="#" rv-data-cart-update="index | plus 1" rv-data-cart-quantity="item.quantity | plus 1">{% include 'icon-plus-white' %}</a>
                  </div>
                </div>

            </div>
            
          </div>
          <div class="total">
            <p>Total: <span class="cart__subtotal" rv-html="cart.total_price | money"></p>
          </div>

          <div class="flex2">
            <div class="button-wrapper center">
              <a class="regular-button dark" data-text="Checkout" href="/checkout">
                <span class="text">Proceed to Checkout</span>
                <span class="hover-svg">
                  {% include 'icon-regular-button-hover' %}
                </span>
              </a>
            </div>	
          </div>

        </form>
      </div>

      <div class="col-lg-12 col-empty {% if cart.item_count != 0 %}hidden{% endif %}">
        <div class="empty_cart">
          <ul class="title row between-xs">
            <li>
              <h4>Your Cart</h4>
            </li>
            </li>
              <span class="cart-close">{% include 'icon-close' %}</span>
            </li>
          </ul>
          <div class="sad-icon">{% include 'icon-sad-face-red' %}</div>
          <h4>Your cart is empty.</h4>
          <p class="xs-small">Have a look at the schedule to discover our upcoming shows.</p>
        </div>
      </div>
    </div>
  </div>
  
</div><!--END OF #CART-->