{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/tribeca-comedy-lounge.myshopify.com/articles/configure/144246/edit
{% endcomment %}
{% if article.metafields.custom_fields["website_title"] != blank %}
  <div class="custom-field custom-field__website-title custom-field__type--url">
    <h3 class="custom-field--title">Website Title</h3>
    <div class="custom-field--value">
      {{ article.metafields.custom_fields["website_title"] }}
    </div>
  </div>
{% endif %}