{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/tribeca-comedy-lounge.myshopify.com/articles/configure/144241/edit
{% endcomment %}
{% if article.metafields.custom_fields["comedians_press"] != blank %}
  <div class="custom-field custom-field__comedians-press custom-field__type--field-collection">
    <h3 class="custom-field--title">Comedians Press</h3>
    <div class="custom-field--value">
      {% assign separator = "|###|" %}
      {% assign press_publication_name_array = article.metafields.custom_fields["press_publication_name"] | split: separator %}
      {% assign press_article_title_array = article.metafields.custom_fields["press_article_title"] | split: separator %}
      {% assign press_link_array = article.metafields.custom_fields["press_link"] | split: separator %}
      {% assign fc_keys = article.metafields.custom_fields["comedians_press"] | split: "," %}
      {% for i in fc_keys %}
        {% assign index = i | plus: 0 %}
        <div class="fc-item fc-item-- fc-index--{{ index }}">
          <div class="fc-field field__press-publication-name">
            {{ press_publication_name_array[index] }}
          </div>
          <div class="fc-field field__press-article-title">
            {{ press_article_title_array[index] }}
          </div>
          <div class="fc-field field__press-link">
            {{ press_link_array[index] }}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}