form {
  margin: 0;
}

a,
area,
button,
[role='button'],
input,
label,
select,
summary,
textarea {
  touch-action: manipulation;
}

input,
textarea,
select {
  font-size: 1.6rem;
  max-width: 100%;
  border: 1px solid $color-border;
  border-radius: 0;

  &[disabled] {
    border-color: $color-disabled-border;
    background-color: $color-disabled;
    cursor: default;
  }
}

button,
input[type='submit'],
label[for] {
  cursor: pointer;
}

main textarea {
  min-height: 100px;
  background: $color-dark;
}

select::-ms-expand {
  display: none;
}

td[data-label="Quantity"] {
  position: relative;

  input[type="number"] {
    position: relative;
    -webkit-appearance: none;
    appearance: none;
  }

  // &::before {
  //   position: absolute;
  //   content: "";
  //   width: 12px;
  //   height: 50px;
  //   background: url('~../assets/arrows/icon-number.svg') no-repeat center center;
  //   right: 0;
  //   pointer-events: none;
  // }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  // margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}

// Force option color (affects IE only)
option {
  background-color: $color-body;
  color: $color-body-text;
}

.input-error {
  border-color: $color-error;
  background-color: $color-error-bg;
  color: $color-body-text;
}

.control {
  .plus,
  .minus {
    border-left: 1px $color-gray-border solid;
    border-right: 1px $color-gray-border solid;
  }

  p {
    margin-bottom: 1.215em;
  }

  .plus,
  .minus,
  .plus a,
  .minus a {
    min-width: 50px;

    svg {
      pointer-events: none;
      position: relative;
    }
  }

  .minus svg {
    top: -2px;
  }

  .qty,
  .qty a {
    min-width: 20px;
    padding-left: 12%;
    padding-right: 12%;
  }

  .plus,
  .minus,
  .qty {
    background: $color-dark-2;
    border-top: 1px $color-gray-border solid;
    border-bottom: 1px $color-gray-border solid;
  }

  .plus,
  .minus,
  .qty {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;

    a {
      color: $color-white;
      font-family: $pnr;
      text-align: center;
      font-size: 0.875em;
      font-weight: 600;
    }
  }
}

input,
textarea {
  &::-webkit-input-placeholder { /* Edge */
    color: transparent;
  }
  
  &:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: transparent;
  }
  
  &::placeholder {
    color: transparent;
  }

  &:focus {
    outline: none;
  }
}

input[type="date"],
select,
input,
textarea,
label {
  font-size: 1em;
  font-family: $pnr;
  color: $color-form-gray;
  width: 100%;
  background: transparent;
}

input[type="date"],
select {
  border: none;
  -webkit-appearance: none;
  appearance: none;
  min-height: 50px;

  &:focus {
    outline: none;
  }
}

input[type="date"].input-filled {
  color: $color-form-gray;
}

input[type="date"].input-filled:focus {
  color: $color-white;
}

.form-row .inner-wrap {
  position: relative;
  min-height: 50px;

  select + input[type="date"],
  select + label {
    pointer-events: none;
  }

  select:focus {
    color: $color-white;

    + label {
      @include transform(translate(0, -60px));

      color: $color-white;
    }
  }

  &.arrow::before {
    position: absolute;
    content: "";
    width: 12px;
    height: 6px;
    background: url('~../assets/icon-select-down.svg') no-repeat center center;
    background-size: contain;
    right: 0;
    top: 0;
    bottom: 0;
    display: block;
    margin: auto 0 auto 10px;
  }
}

input[type="date"] {
  color: transparent;
  position: relative;
  
  &::-webkit-calendar-picker-indicator {
    opacity: 0;
    min-width: 50px;
    height: 50px;
  }

  &::-webkit-inner-spin-button { 
    display: none; 
  }
}

input[type="checkbox"] {
  width: 17px;
  height: 17px;
  opacity: 0;
}

.form-row .checkbox-wrap {
  position: relative;

  &::before,
  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    pointer-events: none;

    @include transition(400ms all $cubic);
  }

  &::before {
    border: 1px solid $color-form-gray;
    width: 17px;
    height: 17px;
  }

  &::after {
    background: url('~../assets/icon-white-check.svg') no-repeat center center;
    background-size: 10px;
    width: 12px; 
    height: 8px;
    top: 5px;
    left: 2px;
    transform-origin: center;

    @include transform(scale(0));
  }

  + label {
    // margin-left: 31px;
    margin-left: 40px;
    display: inline-block;
    color: $color-white;
    line-height: 22px;
    top: 5px;
    position: relative;
    width: calc(100% - 40px);
  }

  &.input-filled {
    &::after {
      @include transform(scale(1));
    }

    &::before {
      background: $color-red;
      border-color: $color-red;
    }
  }
}

.form-row.textarea + .form-row.checkbox {
  margin-top: 50px;
}

input,
input[type="date"],
select {
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-top: 1px solid transparent;
  border-bottom: 1px solid $color-form-gray;
  height: 50px;
  position: relative;

  @include transition(400ms all $cubic);
}

input {
  &:focus {
    color: $color-white;

    + label {
      @include transform(translate(0, -60px));

      color: $color-white;
    }
  }
}

.form-row {
  margin-bottom: 20px;

  label {
    display: block;

    @include transition(400ms all $cubic);
    @include transform(translate(0, -30px));

    &.input-filled {
      @include transform(translate(0, -60px));
    }
  }

  .wrap,
  .left,
  .right {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      left: 0;
      bottom: 17px;
      width: 100%;
      height: 1px;
      background: $color-white;
      transform-origin: left;
  
      @include transform(scaleX(0));
      @include transition(400ms all $cubic);
    }

    &.active-input::before {
      @include transform(scaleX(1));
    }
  }
}

.form-row.textarea {
  .wrap {
    position: relative;
    margin-top: 20px;
  }

  &.normal {
    label.input-filled,
    label {
      @include transform(none);

      font-size: 18px;
      color: $color-white;
      margin-bottom: 35px;
    }

    .right-corner::after,
    .left-corner::after {
      height: calc(100% - 59px);
      top: 55px;
    }

    .right-corner::before {
      top: 54px;
    }

    textarea {
      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: $color-form-gray;

        @include transition(400ms all $cubic);
      }

      &::-moz-placeholder { /* Firefox 19+ */
        color: $color-form-gray;

        @include transition(400ms all $cubic);
      }

      &:-ms-input-placeholder { /* IE 10+ */
        color: $color-form-gray;

        @include transition(400ms all $cubic);
      }

      &:-moz-placeholder { /* Firefox 18- */
        color: $color-form-gray;

        @include transition(400ms all $cubic);
      }

      &:focus::-webkit-input-placeholder {
        color: transparent;
      }

      &:focus::-moz-placeholder {
        color: transparent;
      }

      &:focus:-ms-input-placeholder {
        color: transparent;
      }

      &:focus:-moz-placeholder { 
        color: transparent;
      }
    }
  }

  label {
    @include transform(translate(20px, 35px));

    &.input-filled {
      @include transform(translate(0px, -10px));
    }
  }

  .right-corner,
  .left-corner {
    width: 100%;
    height: 100%;
    position: absolute;
    pointer-events: none;
    
    &::before,
    &::after {
      position: absolute;
      content: "";
      background: $color-white;
      width: 100%;
      height: 100%;

      @include transition(400ms all $cubic);
    }
  }

  .right-corner::before {
    width: 100%;
    height: 1px;
    transform-origin: left;
    top: 18px;

    @include transform(scaleX(0));
  }

  .right-corner::after {
    width: 1px;
    height: calc(100% - 22px);
    transform-origin: top;
    top: 18px;

    @include transform(scaleY(0));
  }

  .right-corner.active {
    &::before {
      @include transform(scaleX(1));
    }

    &::after {
      @include transform(scaleY(1));
    }
  }

  .left-corner::before {
    width: 100%;
    height: 1px;
    bottom: 4px;
    transform-origin: right;

    @include transform(scaleX(0));
  }

  .left-corner::after {
    width: 1px;
    height: calc(100% - 22px);
    right: 0;
    transform-origin: top;
    top: 18px;

    @include transform(scaleY(0));
  }

  .left-corner.active {
    &::before {
      @include transform(scaleX(1));
    }

    &::after {
      @include transform(scaleY(1));
    }
  }
}

.form-row {
  &.section-heading {
    margin-bottom: 13px;

    &:not(:first-of-type) {
      margin-top: 40px;
    }
  }
}

textarea {
  border: 1px solid $color-form-gray;
  // background: transparent;
  padding: 15px;
}

.template-cart .submit {
  input[type="submit"] {
    left: 0;
    top: 0;
  }

  .text {
    padding-left: 0;
  }
}

.template-cart .submit,
.form-row.submit {
  margin-top: 20px;
  margin-bottom: 40px;

  .bws-button-wrapper {
    position: relative;

    @include flexbox();
    @include justify-content(center);
    @include align-items(center);
  }  

  input {
    position: absolute;
    width: 100%;
    height: 100%;
    text-indent: -99999px;
  }

  span {
    pointer-events: none;
  }
}

form:focus {
  outline: none;
}

.form-row.after-message p,
.form-success {
  text-align: center;
}

.shopify-challenge__container {
  min-height: 80vh;

  @include flexbox();
  @include justify-content(center);
  @include flex-direction(column);

  input[type="submit"] {
    position: relative;
    border-bottom: none;
    color: $color-white;
    background: $color-red;
    padding: 25px 30px 45px;
    max-width: 200px;
    margin-top: 20px;
  }
}

// @media all and (min-width: 769px) {
@media all and (min-width: 577px) {
  .form-row.double {
    @include flexbox();

    .left,
    .right {
      width: 48%;
      flex: 0 0 48%;
    }

    .left {
      margin-right: 15px;
    }

    .right {
      margin-left: 15px;
    }
  }
}

@media (max-width: 768px) {
  .form-wrapper {
    padding-left: 25px;
    padding-right: 25px;

    img {
      display: none;
    }
  }

  .form-row.submit {
    margin-bottom: 0;
  }
}

@media all and (max-width: 576px) {
  .form-row.double .left {
    margin-bottom: 20px;
  }

  .form-row.after-message {
    margin-top: 20px;
  }
}