form {
  margin: 0;
}

a,
area,
button,
[role='button'],
input,
label,
select,
summary,
textarea {
  touch-action: manipulation;
}

input,
textarea,
select {
  font-size: 1.6rem;
  max-width: 100%;
  border: 1px solid $color-border;
  border-radius: 0;

  &[disabled] {
    border-color: $color-disabled-border;
    background-color: $color-disabled;
    cursor: default;
  }
}

button,
input[type='submit'],
label[for] {
  cursor: pointer;
}

textarea {
  min-height: 100px;
}

select::-ms-expand {
  display: none;
}

// Force option color (affects IE only)
option {
  background-color: $color-body;
  color: $color-body-text;
}

.input-error {
  border-color: $color-error;
  background-color: $color-error-bg;
  color: $color-body-text;
}

.control {
  .plus,
  .minus {
    border-left: 1px $color-gray-border solid;
    border-right: 1px $color-gray-border solid;
  }

  p {
    margin-bottom: 1.215em;
  }

  .plus,
  .minus,
  .plus a,
  .minus a {
    min-width: 50px;

    svg {
      pointer-events: none;
      position: relative;
    }
  }

  .minus svg {
    top: -2px;
  }

  .qty,
  .qty a {
    min-width: 20px;
    padding-left: 12%;
    padding-right: 12%;
  }

  .plus,
  .minus,
  .qty {
    background: $color-dark-2;
    border-top: 1px $color-gray-border solid;
    border-bottom: 1px $color-gray-border solid;
  }

  .plus,
  .minus,
  .qty {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;

    a {
      color: $color-white;
      font-family: $pnr;
      text-align: center;
      font-size: 0.875em;
      font-weight: 600;
    }
  }
}