#shopify-section-header {
  position: fixed;
  top: 0;
  width: 100vw;
  left: 0;
  right: 0;
  z-index: 10;
  // background: $color-dark;

  @include transition(400ms all $cubic);

  header > .row {
    // padding: 33px 30px;
    padding: 33px 30px 0;
  }

  .bws-header {
    position: relative;

    @include transition(400ms all $cubic);

    &.sticky {
      background: $color-dark;
      box-shdaow: 0 -16px 27px rgba(255, 255, 255, 0.1);

      @include transform(translate(0, -35px));
    }
  }
}

.navigation-menu {
  list-style: none;

  @include flexbox();

  &.left-side-navigation {
    margin-right: 30px;

    @include justify-content(space-between);
  }

  &.right-side-navigation {
    margin-left: 30px;
    
    @include justify-content(space-between);
  }

  a {
    position: relative;

    @include inline-flex();

    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 1px;
      left: 0;
      right: 0;
      background: $color-white;
      transform-origin: right;
      bottom: -3px;

      @include transition(transform 0.4s $cubic);
      @include transform(scaleX(0));
    }

    &:hover::before {
      transform-origin: left;

      @include transform(scaleX(1));
    }
  }
}

.bws-logo {
  display: inline-block;

  @include transition(400ms all $cubic);
}

.bws-header a {
  font-family: $fm;
  text-transform: uppercase;
  color: $color-white;
  font-size: 0.75em;

  &.icon-ticket {
    &::before {
      background: $color-red;
    }

    svg {
      position: relative;
      top: -2px;
      margin-right: 5px;
    }
  }

  &.highlited-menu-item {
    color: $color-red;
  }

  &.cart {
    position: relative;

    .cart-count {
      position: absolute;
      // padding: 30%;
      border-radius: 50%;
      background: $color-red;
      // right: -75%;
      // top: 10%;
      // font-size: 0.625em;
      font-size: 0.625em;
      height: 2em;
      width: 2em;
      left: 10px;
      top: 10px;

      @include flexbox();
      @include justify-content(center);
      @include align-items(center);
    }
  }
}

//Mobile dropwdown
.hamburger {
  @include flex-direction(column);
  @include justify-content(space-between);
  @include transition(400ms all $cubic);

  position: absolute;
  // top: 34px;
  top: 60px;
  left: 25px;
  width: 27px;
  height: 16px;
  z-index: 5;
  opacity: 1;

  span {
    background-color: #e5e5e5;
    display: block;
    width: 100%;
    height: 2px;
    transform-origin: left;

    @include transition(400ms all $cubic);
  }

  &.active {
    opacity: 0;
  }

  &:hover {
    cursor: pointer;

    span:nth-of-type(2) {
      @include transform(scaleX(0.5));
    }

    span:last-of-type {
      @include transform(scaleX(0.2));
    }
  }
}

.m-nav-dropdown {
  @include transition(400ms all $cubic);
  @include flex-direction(column);
  @include transform(translate(0, -25px));

  background-color: $color-dark;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
  width: 100vw;
  height: 100%;
  z-index: 3;
  min-height: 100vh;
  // overflow: scroll;
  // -webkit-overflow-scrolling: scroll;

  .m-nav-close {
    position: absolute;
    top: 40px;
    right: 40px;
    transform-origin: center;

    @include transition(400ms all $cubic);

    svg {
      width: 20px;
      height: 20px;
    }

    &:hover {
      cursor: pointer;

      @include transform(rotate(90deg)); 
    }
  }

  // .navigation-menu,
  // .nav-footer {
  //   display: block;
  //   text-align: left;
  // }

  .wrap {
    overflow: scroll;
    -webkit-overflow-scrolling: scroll;
    height: 100%;
  }

  div.nav-footer {
    padding-bottom: 140px;
  }

  .m-nav-item {
    opacity: 0;
    position: relative;

    @include transition(400ms all $cubic);
    @include transform(translate(-20px, 0));
  }

  .navigation-menu {
    @include flex-direction(column);
    @include align-items(flex-start);

    padding: 75px 40px 45px;
    margin: 0;

    li {
      margin-bottom: 35px;

      &:last-of-type {
        margin-bottom: 0;
      }

      a.icon-ticket svg {
        top: 2px;
        width: 25px;
        height: 25px;
        margin-right: 10px;
      }
    }
  }

  .nav-footer {
    @include flexbox;
    @include flex-direction(column);
    // @include justify-content(center);
    @include justify-content(flex-start);
    @include align-items(flex-start);

    background-color: $color-dark-4;
    font-size: 23px;
    flex-grow: 1;
    padding: 40px;

    p {
      text-align: left;
    }

    .social-list {
      margin-bottom: 0;
      margin-top: 20px;

      li {
        @include flexbox;

        margin-right: 30px;
      }
    }
  }

  &.active {
    opacity: 1;
    pointer-events: all;
    visibility: visible;
    overflow: scroll;

    @include transform(translate(0, 0));
  }
}

.bws-header a.m-cart {
  position: absolute;
  // top: 30px;
  top: 55px;
  right: 25px;

  svg {
    width: 24px;
    height: 27px;
  }

  .cart-count {
    font-size: 1em;
  }
}

@media (max-width: 1024px) {
  .bws-header {
    > div {
      > .col-lg-4 {
        display: none;
      }
    }
  }
}

@media all and (min-width: 1025px) {
  .bws-header.sticky .bws-logo {
    @include transform(scale(0.6));
  }
}

@media all and (max-width: 1024px) {
  .bws-header {
    .bws-logo svg {
      max-width: 52px;
    }

    &.sticky {
      .bws-logo {
        @include transform(translate(0px, 4px));
      }

      .hamburger {
        @include transform(translate(0, 4px));
      }
    }
  }
}

@media all and (max-width: 1024px) and (min-width: 769px) {
  .m-nav-dropdown .navigation-menu li a {
    font-size: 25px;
  }
} // End 1024 Max and 769 Min

@media all and (max-width: 768px) {
  .m-nav-dropdown .navigation-menu {
    li a {
      font-size: 15px;

      &.icon-ticket svg {
        top: -4px;
      }
    }
  }
}