html {
  background-color: $color-dark;
  box-sizing: border-box;
}

//Hide preview bar
#preview-bar-iframe {
  display: none;
}

.hidden {
  display: none !important;
}

em {
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

body {
  background: $color-dark;
  color: $color-white;
  overflow-x: hidden;
}

main {
  padding-top: 110px;
}

:root {
  --color-main-background: $color-dark;
}

.bg-darker {
  background: $color-dark-2;
}

header, ul,
main ul {
  padding-left: 0;
  list-style: none;
}

body a {
  text-decoration: none;
}

// Spacings
.spacing-top-xs {
  padding-top: 75px;
}

.spacing-bottom-xs {
  padding-bottom: 75px;
}

.spacing-top-and-bottom-xs {
  padding-top: 75px;
  padding-bottom: 75px;
}

.spacing-top-sm {
  padding-top: 90px;
}

.spacing-bottom-sm {
  padding-bottom: 90px;
}

.spacing-top-and-bottom-sm {
  padding-top: 90px;
  padding-bottom: 90px;
}

.spacing-top-md {
  padding-top: 104px;
}

.spacing-bottom-md {
  padding-bottom: 104px;
}

.spacing-top-and-bottom-md {
  padding-top: 104px;
  padding-bottom: 104px;
}

[class*=behind-red] {
  position: relative;
  z-index: 2;
  
  svg {
    position: absolute;
    left: 0;
    right: 0;
  }
}

.behind-red-one svg {
  bottom: 0;
  z-index: -1;
}

.behind-red-two svg {
  bottom: 40%;
  z-index: 1;
  left: -9px;
}

.behind-red-three svg {
  bottom: -35%;
  z-index: -1;
  left: -9px;
}

// Home
#home-section-one {
  padding-bottom: 148px;

  p.small {
    margin-bottom: 40px;
  }

  .regular-button {
    margin-bottom: 25px;
  }

  [class^=col-] {
    position: relative;
    min-height: 100%;

    .image-circles {
      position: absolute;
    }
  }

  .image-circles.one {
    top: -5.5vh;
    left: 5.67vw;
    z-index: 1;
  }

  .image-circles.two {
    top: 26vh;
    left: 4.333vw;
    z-index: 1;
  }

  .image-circles.three {
    top: 28vh;
    z-index: 0;
    left: 12vw;
  }

  .image-circles.four {
    top: -5.5vh;
    left: -4.67vw;
    z-index: 1;
  }

  .image-circles.five {
    z-index: 0;
    left: -28.33%;
    z-index: 1;
    top: 24vh;
  }

  .image-circles.six {
    left: 23.33%;
    z-index: 0;
    top: 16vh;
  }
}

#home-section-two {
  .custom-110 {
    @include flexbox();
    @include justify-content(center);
    @include align-items(center);
  }
}

.icon-set-one {
  svg {
    margin-bottom: 35px;
    min-height: 47px;
  }

  p {
    margin-bottom: 1.125em;
  }

  p.xs-small {
    color: $color-gray;
    max-width: 75%;
    margin: 0 auto;
  }
}

.schedule-list {
  margin-bottom: 50px;

  [class^=col-] {
    overflow: hidden;
    padding-left: 0;
    padding-right: 0;
    border-top: 1px solid $color-gray-border;
    border-bottom: 1px solid $color-gray-border;
    border-left: 1px solid $color-gray-border;
    position: relative;

    @include transition(400ms all $cubic);

    &:last-of-type {
      border-right: 1px solid $color-gray-border;
    }

    &:hover .regular-button {
      @include transform(translate(0, -100%));
    }

    &.non-active {
      opacity: 0.4;
    }

    .top {
      padding: 63px 55px;

      .underline-button {
        font-size: 0.75em;
        line-height: 1.85em;
      }
    }

    .date {
      margin-bottom: 64px;

      li {
        &:first-of-type {
          margin-right: 15px;
        }

        svg {
          position: relative;
          top: 1px;
        }
      }
    }

    .price-and-location,
    .date {
      p {
        margin-bottom: 0;
        font-family: $pnr;
        font-weight: 500;
      }
    }

    .underline-button-double {
      margin-bottom: 15px;
    }


    .price-and-location {
      margin-top: 39px;
      margin-bottom: 115px;

      @include flex-wrap(nowrap);

      li {
        @include flexbox();

        &:first-of-type {
          margin-right: 15.39px;
          position: relative;

          &::before {
            position: absolute;
            right: -15.39px;
            top: 0;
            bottom: 0;
            content: "";
            border: 0.6px solid rgba(255, 255, 255, 0.15);
          }
        }

        &:last-of-type {
          margin-left: 15.39px;

          svg {
            margin-right: 9px;
          }
        }
      }
    }

    h3 {
      margin-bottom: 13px;
    }

    h5 {
      margin-bottom: 20px;
      font-weight: 700;
      text-transform: uppercase;
    }

    img {
      margin-top: 55px;
      margin-bottom: 20px;
    }

    .subtitle-gray {
      margin-top: 10px;
      margin-bottom: 20px;
    }
  }

  .regular-button {
    // padding: 0;
    border: none;
    width: 101%;
    left: -1px;
    height: 62px;
    top: 100%;
    padding: 16px 25px;
    position: absolute;
    bottom: 0;
    
    @include justify-content(center);
    @include align-items(center);
    @include flexbox();
    @include transition(400ms all $cubic);
    @include transform(translate(0, 100%));
    .text {
      font-size: 0.6875em;
    }
  }
}


.map-wrapper {
  padding-bottom: 50%;
  position: relative;

  .google-map {
    height: 100%;
    width: 100%;
    position: relative;

    @include transition(400ms all $cubic);

    &::before {
      position: absolute;
      content: "";
      width: 100%;
      left: 0;
      right: 0;
      height: 100px;
      top: 0;
      z-index: 1;
      pointer-events: none;
      background: linear-gradient(to bottom, $color-dark 15%, rgba(30, 30, 30, 0.1) 88%);
      background: -webkit-linear-gradient(to bottom, $color-dark 15%, rgba(30, 30, 30, 0.1) 88%);
      background: -o-linear-gradient(to bottom, $color-dark 15%, rgba(30, 30, 30, 0.1) 88%);
    }

    .gm-ui-hover-effect {
      opacity: 1;
      filter: contrast(0);
      -webkit-filter: contrast(0);
      top: -3px !important;
      right: -4px !important;
    }
  }

  .hide-marker {
    @include transform(scale(0));
  }

  .gm-style div[title] img {
    @include transition(400ms all $cubic);
    @include transform(scale(1));
  }
}

.poi-info-window.gm-style,
.poi-info-window.gm-style .title.full-width,
.poi-info-window.gm-style div,
.poi-info-window.gm-style div a,
.gm-style-iw-d,
.gm-style-iw.gm-style-iw-c {
  background: $color-dark;
}

.map-window,
.hm-style-iw-d {
  position: relative;
}

.gm-style .gm-style-iw-t:hover::after,
.gm-style .gm-style-iw-t::after {
  overflow: hidden;
}

.poi-info-window.gm-style,
.poi-info-window.gm-style .title.full-width,
.poi-info-window.gm-style div {
  color: $color-white;
}

.gm-style .gm-style-iw-t::after {
  background: linear-gradient(45deg,rgba(30,30,30,1) 50%,rgba(255,255,255,0) 51%,rgba(255,255,255,0) 100%)
}

.poi-info-window.gm-style div a {
  color: $color-red;
}

body .gm-style .gm-style-iw-d {
  overflow: hidden !important;
}

.gm-style-iw-d,
.map_window {
  overflow: scroll;
  padding: 6px 12px 0px 6px;
  margin-bottom: 15px;

  p {
    margin-bottom: 5px;
  }

  a.red {
    color: $color-red;
  }
}

.subway-list {
  @include flexbox();
  @include justify-content(center);
  @include align-items(center);

  a {
    color: $color-white;
    font-family: $pnr;
    margin-right: 10px;
    border-radius: 21px;
    letter-spacing: 2px;
    padding: 11px 18px;
    background: rgba(255, 255, 255, 0.2);

    @include transition(400ms all $cubic);

    &:hover {
      background: $color-orange;

      @include transform(translate(0, -5px));
    }

    &.active {
      background: $color-orange;
    }
  }

  li:last-of-type a {
    margin-right: 0;
  }
}

#subway-copy [class^=col-] {
  position: relative;
  padding-bottom: 50px;
}

#subway-station-copy {
  @include transition(400ms all $cubic);

  position: absolute;
  left: 0;
  right: 0;
  z-index: 2;

  &.change-text {
    opacity: 0;

    @include transform(translate(0, 10px));
  }
}


// .icon-list {
//   li {
//     padding: 18px 36px;
//     border-bottom: 1px solid $color-gray-border;

//     @include flexbox();
//     @include flex-direction(row);

//     &:last-of-type {
//       border: none;
//     }

//     p {
//       margin-bottom: 0;
//       padding-left: 36px;
//     }

//     img {
//       width: 100%;
//     }
//   }
// }

// #home-section-four .icon-list img {
//   width: auto;
//   max-height: 24px;
// }

#home-section-five {
  [class^=col-] {
    position: relative;
  }
}

#home-section-five {
  img {
    &:first-of-type {
      position: relative;
      z-index: 1;
    }

    &:nth-of-type(2),
    &:nth-of-type(3),
    &:nth-of-type(4) {
      position: absolute;
    }

    &:nth-of-type(2) {
      top: 0;
      left: -4vw;
      z-index: 1;
    }

    &:nth-of-type(3) {
      bottom: -5vh;
      left: -0.33vw;
      z-index: 1;
    }

    &:nth-of-type(4) {
      right: -1vw;
      bottom: -4vw;
      z-index: 0;
    }
  }

  .custom-80 {
    text-transform: uppercase;
    font-family: $br;
    font-weight: 700;
  }

  .custom-80.behind-red-two {
    margin-bottom: 0.5em;
  }

  p:last-of-type {
    margin-bottom: 2.5em;
  }
}

#home-section-five h2 + p:last-of-type {
  margin-bottom: 45px;
}

.comedian-list {
  margin-bottom: 40px;

  .inner-wrapper .inner-image {
    background-color: $color-red;
    transform-origin: center;

    @include transition(400ms all $cubic);
  }

  li {
    position: relative;

    .inner-wrapper {
      margin-left: 3.5px;
      margin-right: 3.5px;
      overflow: hidden;
      padding-bottom: 200%;
      position: relative;

      @include clearfix();
    }

    .content {
      padding: 27px 40px 29px;
      z-index: 2;
      opacity: 0;
      transition-duration: 400ms;
      transition-timing-function: $cubic;
      transition-delay: 0ms;
      transition-property: opacity, transform;

      @include transform(translate(0, 40px));
    }

    .content,
    .name {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 2;
    }

    .name {
      transition-duration: 400ms;
      transition-timing-function: $cubic;
      transition-delay: 200ms;
      transition-property: opacity, transform;

      @include transform(translate(0, 0));

      p.large {
        font-family: $br;
        font-size: 1.375em;
        font-weight: 700;
      }
    }

    p.large {
      position: relative;
      margin-bottom: 40px;
    }

    p.large,
    .absolute-link {
      z-index: 3;
    }

    svg:first-of-type {
      margin-top: 60px;
    }

    svg {
      overflow: visible;
    }

    .content p {
      margin-top: 40px;
      margin-bottom: 50px;
    }

    &::before,
    .inner-image {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      width: calc(100% - 7px);

      @include transition(400ms all $cubic);
    }

    .inner-image {
      z-index: 0;
      height: calc(100% - 7px);
      top: 0;
    }

    h3 {
      position: relative;
      font-family: $br;
      font-weight: 700;
      margin-bottom: 5px;
    }

    h3,
    p.color-red {
      text-transform: uppercase;
    }

    &::before {
      content: "";
      background: linear-gradient(to bottom, rgba(30, 30, 30, 0) 0%, rgba(30, 30, 30, 0.85) 50%);
      z-index: 1;
      opacity: 0;
      height: calc(40% - 7px);
      bottom: 0;
      
      @include transform(translate(0, 40px));
    }

    .absolute-link {
      width: calc(100% - 6px);
      height: calc(100% - 6px);
    }

    &:hover {
      .content,
      &::before {
        opacity: 1;

        @include transform(translate(0, 0));
      }

      .content {
        // opacity: 1;
        transition-delay: 200ms;
      }

      .name {
        opacity: 0;
        transition-delay: 0ms;

        @include transform(translate(0, 40px));
      }

      .inner-image {
        // background-color: $color-red;
        // background-blend-mode: multiply;
        background-blend-mode: darken;

        // @include transform(scale(1.05));
      }
    }
  }
}

.image-cta-one {
  padding-top: 160px;
  padding-bottom: 160px;

  p.custom-60 {
    margin-bottom: 15px;
  }

  h2 {
    margin-bottom: 30px;
  }

  p:last-of-type {
    font-family: $fl;
    margin-bottom: 0;
  }

  .bws-button-wrapper {
    margin-top: 40px;
  }
}

#home-section-seven {}.custom-110 {
  font-size: 2.25em;
  line-height: 0.85em;
}

.testimonial-list {
  .inner-wrapper {
    padding-left: 25px;
    padding-right: 25px;
  }

  img {
    margin-bottom: 10px;
  }

  .large {
    margin-bottom: 27px;
    font-size: 1.25em;
    font-weight: 500;
  }

  svg {
    margin-bottom: 30px;
  }
}

// footer
footer {
  background: $color-black;

  p.large {
    margin-bottom: 35px;
    color: $color-white;
  }

  .menu a,
  .xs-small,
  .xxs-small,
  .xs-small a {
    font-family: $pnr;
    font-weight: normal;
  }

  .social-list {
    position: relative;
    left: 3px;
    margin-top: 30px;

    li {
      margin-right: 20px;

      a {
        @include transition(400ms all $cubic);
      }
    }
  }

  p,
  a.inline-link-single.white {
    color: $color-footer-text;
  }

  a.inline-link-single.white::after,
  a.inline-link-single.white::before {
    background: $color-footer-text;
  }

  .menu {
    li {
      margin-bottom: 20px;
    }

    a {
      font-size: 0.8125em;
    }
  }

  #subfooter {
    padding: 30px 0;
    border-top: 1px solid $color-gray-border;

    p,
    .menu li,
    .menu {
      margin: 0;
    }
  
    .menu li {
      margin-left: 20px;

      &:first-of-type {
        margin-left: 0;
      }

      a {
        font-size: 0.6875em;
      }
    }
  }
}

// Breadcrumbs
.breadcrumbs {
  padding-top: 90px;
  margin-top: 0;
  margin-bottom: 0;

  @include flexbox();

  .seperator {
    margin-left: 10px;
    margin-right: 10px;
  }

  p {
    margin-bottom: 0;
  }

  li:not(:last-of-type) a,
  li:not(:last-of-type) p {
    // color: $color-footer-text;
    color: $color-white;
  }

  li:last-of-type p {
    color: $color-footer-text;
  }

  li:not(:first-of-type) a:hover {
    color: $color-white;
  }
}

@media all and (min-width: 1024px) {
  .remove-side-padding-desktop > [class^=col-] {
    padding-left: 0;
    padding-right: 0;
  }
}

// @media all and (min-width: 768px) {
//   .icon-set-one {
//     [class^=col-] {
//       position: relative;
  
//       &:first-of-type::before,
//       &:nth-of-type(2)::before {
//         position: absolute;
//         content: "";
//         width: 37px;
//         height: 10px;
//         background: url('../assets/arrows/icon-arrow-right-red.svg') no-repeat center center;
//         background-size: contain;
//         top: 0;
//         bottom: 0;
//         display: block;
//         margin: auto;
//         right: -18.5px;
//       }
//     }
//   }
// } // End 768 Min 
