html {
  background-color: $color-dark;
  box-sizing: border-box;
}

//Hide preview bar
#preview-bar-iframe {
  display: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

body {
  background: $color-dark;
  color: $color-white;
  overflow-x: hidden;
}

main {
  padding-top: 110px;
}

:root {
  --color-main-background: $color-dark;
}

.bg-darker {
  background: $color-dark-2;
}

header, ul,
main ul {
  padding-left: 0;
  list-style: none;
}

body a {
  text-decoration: none;
}

// Spacings
.spacing-top-xs {
  padding-top: 75px;
}

.spacing-bottom-xs {
  padding-bottom: 75px;
}

.spacing-top-and-bottom-xs {
  padding-top: 75px;
  padding-bottom: 75px;
}

.spacing-top-sm {
  padding-top: 90px;
}

.spacing-bottom-sm {
  padding-bottom: 90px;
}

.spacing-top-and-bottom-sm {
  padding-top: 90px;
  padding-bottom: 90px;
}

.spacing-top-md {
  padding-top: 104px;
}

.spacing-bottom-md {
  padding-bottom: 104px;
}

.spacing-top-and-bottom-md {
  padding-top: 104px;
  padding-bottom: 104px;
}

// Home
#home-section-one {
  padding-bottom: 148px;

  p.small {
    margin-bottom: 40px;
  }

  .regular-button {
    margin-bottom: 25px;
  }

  [class^=col-] {
    position: relative;
    min-height: 100%;

    .image-circles {
      position: absolute;
    }
  }

  .image-circles.one {
    top: -8vh;
    left: 8.333vw;
    z-index: 1;
  }

  .image-circles.two {
    top: 17vh;
    left: 4.333vw;
    z-index: 1;
  }

  .image-circles.three {
    top: 17vh;
    z-index: 0;
    left: 42.33%;
  }

  .image-circles.four {
    top: -6.5vh;
    left: 2.33vw;
    z-index: 1;
  }

  .image-circles.five {
    top: 17vh;
    z-index: 0;
    left: -28.33%;
    z-index: 1;
  }

  .image-circles.six {
    left: 23.33%;
    z-index: 0;
    top: 8vh;
  }
}

.icon-set-one {
  svg {
    margin-bottom: 35px;
    min-height: 47px;
  }

  p {
    margin-bottom: 1.125em;
  }

  p.xs-small {
    color: $color-gray;
    max-width: 75%;
    margin: 0 auto;
  }
}

.schedule-list {
  margin-bottom: 50px;

  [class^=col-] {
    overflow: hidden;
    padding-left: 0;
    padding-right: 0;
    border-top: 1px solid $color-gray-border;
    border-bottom: 1px solid $color-gray-border;
    border-left: 1px solid $color-gray-border;
    position: relative;

    @include transition(400ms all $cubic);

    &:last-of-type {
      border-right: 1px solid $color-gray-border;
    }

    &:hover .regular-button .inner-wrapper {
      @include transform(translate(0, -100%));
    }

    &.non-active {
      opacity: 0.4;
    }

    .top {
      padding: 55px 50px;

      svg {
        margin-bottom: 30px;
      }
    }

    h3 {
      margin-bottom: 13px;
    }

    h5 {
      margin-bottom: 20px;
    }

    .xxs-small {
      margin-bottom: 0;
    }

    img {
      margin-top: 55px;
      margin-bottom: 20px;
    }

    .subtitle-gray {
      margin-top: 10px;
      margin-bottom: 20px;
    }
  }

  .regular-button {
    background: transparent;
    padding: 0;

    .inner-wrapper {
      background: $color-red;
      height: 62px;
      width: 101%;
      left: -1px;
      top: 100%;
      padding: 16px 25px;
      position: relative;
      bottom: 0;
      
      @include justify-content(center);
      @include align-items(center);
      @include flexbox();
      @include transition(400ms all $cubic);
      @include transform(translate(0, 11%));
    }
  }
}


.map-wrapper {
  padding-bottom: 80%;
  position: relative;

  .google-map {
    height: 100%;
    width: 100%;
  }
}


.icon-list {
  li {
    padding: 18px 36px;
    border-bottom: 1px solid $color-gray-border;

    @include flexbox();
    @include flex-direction(row);

    &:last-of-type {
      border: none;
    }

    p {
      margin-bottom: 0;
      padding-left: 36px;
    }

    img {
      width: 100%;
    }
  }
}

#home-section-four .icon-list img {
  width: auto;
  max-height: 24px;
}

#home-section-five {
  [class^=col-] {
    position: relative;
  }
}

#home-section-five {
  img {
    &:first-of-type {
      position: relative;
      z-index: 1;
    }

    &:nth-of-type(2),
    &:nth-of-type(3),
    &:nth-of-type(4) {
      position: absolute;
    }

    &:nth-of-type(2) {
      top: 0;
      left: -4vw;
      z-index: 1;
    }

    &:nth-of-type(3) {
      bottom: -5vh;
      left: -0.33vw;
      z-index: 1;
    }

    &:nth-of-type(4) {
      right: -1vw;
      bottom: -4vw;
      z-index: 0;
    }
  }

  p {
    font-family: $fl;;
  }
}

#home-section-five h2 + p:last-of-type {
  margin-bottom: 45px;
}

.comedian-list {
  margin-bottom: 40px;

  li {
    position: relative;

    .inner-wrapper {
      margin-left: 3.5px;
      margin-right: 3.5px;
      overflow: hidden;

      @include clearfix();
    }

    .content {
      padding: 30px 40px;
      z-index: 2;
      position: relative;
      opacity: 0;

      @include transition(400ms all $cubic);
    }

    p.large {
      position: relative;
      margin-bottom: 40px;
      margin-top: 10px;
    }

    p.large,
    .absolute-link {
      z-index: 3;
    }

    svg:first-of-type {
      margin-top: 60px;
    }

    svg {
      overflow: visible;
    }

    .content p {
      margin-top: 40px;
      margin-bottom: 50px;
    }

    &::before,
    .inner-image {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: calc(100% - 7px);
      width: calc(100% - 7px);
      // width: 100%;

      @include transition(400ms all $cubic);
    }

    .inner-image {
      z-index: 0;
    }

    &::before {
      content: "";
      background: rgba(218, 13, 21, 0.85);
      z-index: 1;
      opacity: 0;
    }

    &:hover {
      .content,
      &::before {
        opacity: 1;
      }
    }
  }
}

.image-cta-one {
  padding-top: 160px;
  padding-bottom: 160px;

  p.custom-60 {
    margin-bottom: 15px;
  }

  p:last-of-type {
    font-family: $fl;
    margin-bottom: 0;
  }

  .bws-button-wrapper {
    margin-top: 40px;
  }
}

.testimonial-list {
  .inner-wrapper {
    padding-left: 25px;
    padding-right: 25px;
  }

  img {
    margin-bottom: 10px;
  }

  .large {
    margin-bottom: 27px;
  }

  svg {
    margin-bottom: 30px;
  }
}

// footer
footer {
  p.large {
    margin-bottom: 35px;
  }

  .menu a,
  .xs-small,
  .xxs-small,
  .xs-small a {
    font-family: $fl;
    font-weight: 300;
  }

  .social-list {
    position: relative;
    left: 3px;
    margin-top: 30px;

    li {
      margin-right: 20px;

      a {
        @include transition(400ms all $cubic);
      }
    }
  }

  .menu {
    li {
      margin-bottom: 20px;
    }

    a {
      font-size: 0.8125em;
    }
  }

  #subfooter {
    padding: 30px 0;
    border-top: 1px solid $color-gray-border;

    p,
    .menu li,
    .menu {
      margin: 0;
    }
  
    .menu li {
      margin-left: 20px;

      &:first-of-type {
        margin-left: 0;
      }

      a {
        font-size: 0.6875em;
      }
    }
  }
}

@media all and (min-width: 1024px) {
  .remove-side-padding-desktop > [class^=col-] {
    padding-left: 0;
    padding-right: 0;
  }
}

@media all and (min-width: 768px) {
  .icon-set-one {
    [class^=col-] {
      position: relative;
  
      &:first-of-type::before,
      &:nth-of-type(2)::before {
        position: absolute;
        content: "";
        width: 37px;
        height: 10px;
        background: url('../assets/arrows/icon-arrow-right-red.svg') no-repeat center center;
        background-size: contain;
        top: 0;
        bottom: 0;
        display: block;
        margin: auto;
        right: -18.5px;
      }
    }
  }
} // End 768 Min 