html {
  background-color: $color-dark;
  box-sizing: border-box;
}

.oh {
  overflow: hidden;
}

//Hide preview bar
#preview-bar-iframe {
  display: none;
}

.hidden {
  display: none !important;
}

em {
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

body {
  background: $color-dark;
  color: $color-white;
  overflow-x: hidden;
}

main {
  padding-top: 110px;
}

:root {
  --color-main-background: $color-dark;
}

.bg-darker {
  background: $color-dark-2;
}

header, ul,
main ul {
  padding-left: 0;
  list-style: none;
}

body a {
  text-decoration: none;
}

main img {
  width: 100%;
}

// Spacings
.spacing-top-xxs {
  padding-top: 45px;
}

.spacing-bottom-xxs {
  padding-bottom: 45px;
}

.spacing-top-and-bottom-xxs {
  padding-top: 45px;
  padding-bottom: 45px;
}

.spacing-top-xs {
  padding-top: 75px;
}

.spacing-bottom-xs {
  padding-bottom: 75px;
}

.spacing-top-and-bottom-xs {
  padding-top: 75px;
  padding-bottom: 75px;
}

.spacing-top-sm {
  padding-top: 90px;
}

.spacing-bottom-sm {
  padding-bottom: 90px;
}

.spacing-top-and-bottom-sm {
  padding-top: 90px;
  padding-bottom: 90px;
}

.spacing-top-md {
  padding-top: 104px;
}

.spacing-bottom-md {
  padding-bottom: 104px;
}

.spacing-top-and-bottom-md {
  padding-top: 104px;
  padding-bottom: 104px;
}

.spacing-top-lg {
  padding-top: 120px;
}

.spacing-bottom-lg {
  padding-bottom: 120px;
}

.spacing-top-and-bottom-lg {
  padding-top: 120px;
  padding-bottom: 120px;
}

.spacing-top-xl {
  padding-top: 170px;
}

.spacing-bottom-xl {
  padding-bottom: 170px;
}

.spacing-top-and-bottom-xl {
  padding-top: 170px;
  padding-bottom: 170px;
}

[class*=behind-red] {
  position: relative;
  z-index: 2;
  
  svg {
    position: absolute;
    left: 0;
    right: 0;
  }
}

.behind-red-one svg {
  bottom: 0;
  z-index: -1;
}

.behind-red-two svg {
  // bottom: 40%;
  // z-index: 1;
  // left: -9px;
  bottom: 0;
  z-index: -1;
  left: -9px;
}

#home-section-two .behind-red-two svg {
  bottom: 22%;
  z-index: 1;
  left: -5px;
}

.behind-red-three svg {
  bottom: -35%;
  z-index: -1;
  left: -9px;
}

// Home
#home-section-one {
  padding-bottom: 148px;

  p.small {
    margin-bottom: 40px;
  }

  .svg-text {
    margin-bottom: 10px;
  }

  .regular-button {
    margin-bottom: 25px;
  }

  [class^=col-] {
    position: relative;
    min-height: 100%;

    .image-circles {
      position: absolute;
    }
  }

  .image-circles.one {
    top: -5.5vh;
    left: 5.67vw;
    z-index: 1;
    max-width: 154px;
  }

  .image-circles.two {
    top: 26vh;
    left: 4.333vw;
    z-index: 1;
    max-width: 146px
  }

  .image-circles.three {
    top: 28vh;
    z-index: 0;
    left: 12vw;
    max-width: 252px;
  }

  .image-circles.four {
    top: -5.5vh;
    left: -4.67vw;
    z-index: 1;
    max-width: 130px;
  }

  .image-circles.five {
    z-index: 0;
    left: -28.33%;
    z-index: 1;
    top: 24vh;
    max-width: 472.29px;
  }

  .image-circles.six {
    left: 23.33%;
    z-index: 0;
    top: 16vh;
    max-width: 250px;
  }
}

#home-section-two {
  .custom-110 {
    font-size: 122px;

    @include flexbox();
    @include justify-content(center);
    @include align-items(center);
  }

  .svg-text svg {
    position: relative;
    right: 0;
    left: 0;
    top: 6px;
  }
}

.icon-set-one {
  svg {
    margin-bottom: 35px;
    min-height: 47px;
  }

  p {
    margin-bottom: 1.125em;
  }

  p.xs-small {
    color: $color-gray;
    max-width: 75%;
    margin: 0 auto;
  }
}

.schedule-list {
  margin-bottom: 50px;

  [class^=col-] {
    overflow: hidden;
    padding-left: 0;
    padding-right: 0;
    border-top: 1px solid $color-gray-border;
    border-left: 1px solid $color-gray-border;
    // border-right: 1px solid $color-gray-border;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 1px;
      background: $color-gray-border;
      bottom: 0;
      left: 0;
      right: 0;
    }

    &:nth-of-type(3)::after,
    &:nth-of-type(5)::after,
    &:nth-of-type(3n+5)::after {
      position: absolute;
      content: "";
      height: 100%;
      width: 1px;
      background: $color-gray-border;
      // background: $color-red;
      right: 0;
      top: 0;
    }

    @include transition(400ms all $cubic);

    // &:last-of-type {
    //   border-right: 1px solid $color-gray-border;
    // }

    &:hover .regular-button {
      @include transform(translate(0, -100%));
    }

    &.non-active {
      opacity: 0.4;
    }
  }

  .top {
    padding: 63px 55px;
    height: 100%;

    @include flexbox();
    @include justify-content(space-between);
    @include align-items(flex-start);
    @include flex-direction(column);
    

    .underline-button {
      font-size: 0.75em;
      line-height: 1.85em;
    }
  }

  .date {
    margin-bottom: 64px;

    li {
      &:first-of-type {
        margin-right: 15px;
      }

      svg {
        position: relative;
        top: 1px;
      }
    }
  }

  .price-and-location,
  .date {
    p {
      margin-bottom: 0;
      font-family: $pnr;
      font-weight: 500;
    }
  }

  .underline-button-double {
    margin-bottom: 15px;
    position: relative;
    z-index: 3;
  }

  .price-and-location {
    margin-top: 39px;
    margin-bottom: 115px;

    @include flex-wrap(nowrap);

    li {
      @include flexbox();

      &:first-of-type {
        margin-right: 15.39px;
        position: relative;

        &::before {
          position: absolute;
          right: -15.39px;
          top: 0;
          bottom: 0;
          content: "";
          border: 0.6px solid rgba(255, 255, 255, 0.15);
        }
      }

      &:last-of-type {
        margin-left: 15.39px;

        svg {
          margin-right: 9px;
          min-width: 9px;
        }
      }
    }
  }

  h3 {
    margin-bottom: 13px;
  }

  h5 {
    margin-bottom: 20px;
    font-weight: 700;
    text-transform: uppercase;
  }

  img {
    margin-top: 55px;
    margin-bottom: 20px;
  }

  .subtitle-gray {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  // .bws-button-wrapper {
  //   position: relative;
  //   z-index: 2;
  //   bottom: -65px;
  // }

  .absolute-link {
    height: calc(100% - 62px);
  }

  .bws-button-wrapper {
    @include flexbox();

    // position: absolute;
    // min-height: 62px;
    // width: 100%;
    // top: 100%;
    &:not(:nth-of-type(5)) {
      position: absolute;
      min-height: 62px;
      width: 100%;
      top: 100%;
    }
  }

  li:nth-of-type(5) .bws-button-wrapper {
    position: relative;
    top: 0;
    left: 55px;
    z-index: 2;

    .icon-button::before {
      bottom: 15px;
    }
  }

  .regular-button {
    // padding: 0;
    top: 0;
    border: none;
    width: 101%;
    left: -1px;
    height: 62px;
    // top: 100%;
    padding: 16px 25px;
    position: absolute;
    bottom: 0;
    
    @include justify-content(center);
    @include align-items(center);
    @include flexbox();
    @include transition(400ms all $cubic);
    // @include transform(translate(0, 100%));
    .text {
      font-size: 0.6875em;
    }

    .hover-svg {
      @include transform(translate(-120px, 60px) rotate(45deg));
    }

    &:hover .hover-svg {
      @include transform(translate(-90px, -185px) rotate(0));
    }
  }
}

.map-wrapper {
  padding-bottom: 40%;
  position: relative;

  .google-map {
    height: 100%;
    width: 100%;
    position: relative;

    @include transition(400ms all $cubic);

    &::before {
      position: absolute;
      content: "";
      width: 100%;
      left: 0;
      right: 0;
      height: 100px;
      top: 0;
      z-index: 1;
      pointer-events: none;
      background: linear-gradient(to bottom, $color-dark 15%, rgba(30, 30, 30, 0.1) 88%);
      background: -webkit-linear-gradient(to bottom, $color-dark 15%, rgba(30, 30, 30, 0.1) 88%);
      background: -o-linear-gradient(to bottom, $color-dark 15%, rgba(30, 30, 30, 0.1) 88%);
    }

    .gm-ui-hover-effect {
      opacity: 1;
      filter: contrast(0);
      -webkit-filter: contrast(0);
      top: -3px !important;
      right: -4px !important;
    }
  }

  .hide-marker {
    @include transform(scale(0));
  }

  .gm-style div[title] img {
    @include transition(400ms all $cubic);
    @include transform(scale(1));
  }
}

.poi-info-window.gm-style,
.poi-info-window.gm-style .title.full-width,
.poi-info-window.gm-style div,
.poi-info-window.gm-style div a,
.gm-style-iw-d,
.gm-style-iw.gm-style-iw-c {
  background: $color-dark;
}

.map-window,
.hm-style-iw-d {
  position: relative;
}

.gm-style .gm-style-iw-t:hover::after,
.gm-style .gm-style-iw-t::after {
  overflow: hidden;
}

.poi-info-window.gm-style,
.poi-info-window.gm-style .title.full-width,
.poi-info-window.gm-style div {
  color: $color-white;
}

.gm-style .gm-style-iw-t::after {
  background: linear-gradient(45deg,rgba(30,30,30,1) 50%,rgba(255,255,255,0) 51%,rgba(255,255,255,0) 100%)
}

.poi-info-window.gm-style div a {
  color: $color-red;
}

.map_window,
body .gm-style .gm-style-iw-d {
  overflow: hidden !important;
}

.gm-style-iw-d,
.map_window {
  overflow: scroll;
  padding: 6px 12px 0px 6px;
  margin-bottom: 15px;

  p {
    margin-bottom: 5px;
  }

  a.red {
    color: $color-red;
  }
}

.subway-list {
  @include flexbox();
  @include justify-content(center);
  @include align-items(center);

  a {
    color: $color-white;
    font-family: $pnr;
    margin-right: 10px;
    border-radius: 21px;
    letter-spacing: 2px;
    padding: 11px 18px;
    background: rgba(255, 255, 255, 0.2);

    @include transition(400ms all $cubic);

    &:hover {
      background: $color-orange;

      @include transform(translate(0, -5px));
    }

    &.active {
      background: $color-orange;
    }
  }

  li:last-of-type a {
    margin-right: 0;
  }
}

#subway-copy [class^=col-] {
  position: relative;
  padding-bottom: 50px;
}

#subway-station-copy {
  @include transition(400ms all $cubic);

  position: absolute;
  left: 0;
  right: 0;
  z-index: 2;

  &.change-text {
    opacity: 0;

    @include transform(translate(0, 10px));
  }
}


// .icon-list {
//   li {
//     padding: 18px 36px;
//     border-bottom: 1px solid $color-gray-border;

//     @include flexbox();
//     @include flex-direction(row);

//     &:last-of-type {
//       border: none;
//     }

//     p {
//       margin-bottom: 0;
//       padding-left: 36px;
//     }

//     img {
//       width: 100%;
//     }
//   }
// }

// #home-section-four .icon-list img {
//   width: auto;
//   max-height: 24px;
// }

#about-section-four,
#home-section-five {
  [class^=col-] {
    position: relative;
  }
}

#about-section-four,
#home-section-five {
  img {
    &:first-of-type {
      position: relative;
      z-index: 1;
    }

    &:nth-of-type(2),
    &:nth-of-type(3),
    &:nth-of-type(4) {
      position: absolute;
    }

    &:nth-of-type(2) {
      top: 0;
      left: -4vw;
      z-index: 1;
    }

    &:nth-of-type(3) {
      bottom: -5vh;
      left: -0.33vw;
      z-index: 1;
    }

    &:nth-of-type(4) {
      right: -1vw;
      bottom: -4vw;
      z-index: 0;
    }
  }

  .custom-80 {
    text-transform: uppercase;
    font-family: $br;
    font-weight: 700;
  }

  .custom-80.behind-red-two {
    margin-bottom: 0.5em;
  }

  p:last-of-type {
    margin-bottom: 2.5em;
  }
}

#home-section-five h2 + p:last-of-type {
  margin-bottom: 45px;
}

#home-section-five>div img:first-of-type,
  #about-section-four img:first-of-type, #home-section-five img:first-of-type {
    height: 100%;
  }

.comedian-list {
  margin-bottom: 40px;

  .inner-wrapper .inner-image {
    background-color: $color-red;
    transform-origin: center;

    @include transition(400ms all $cubic);
  }

  li {
    position: relative;

    .inner-wrapper {
      margin-left: 3.5px;
      margin-right: 3.5px;
      overflow: hidden;
      padding-bottom: 200%;
      position: relative;

      @include clearfix();
    }

    .content {
      padding: 27px 40px 29px;
      z-index: 2;
      opacity: 0;
      transition-duration: 400ms;
      transition-timing-function: $cubic;
      transition-delay: 0ms;
      transition-property: opacity, transform;

      @include transform(translate(0, 40px));
    }

    .content,
    .name {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 2;
    }

    .name {
      transition-duration: 400ms;
      transition-timing-function: $cubic;
      transition-delay: 200ms;
      transition-property: opacity, transform;

      @include transform(translate(0, 0));

      p.large {
        font-family: $br;
        font-size: 1.375em;
        font-weight: 700;
      }
    }

    p.large {
      position: relative;
      margin-bottom: 40px;
    }

    p.large,
    .absolute-link {
      z-index: 3;
    }

    svg:first-of-type {
      margin-top: 60px;
    }

    svg {
      overflow: visible;
    }

    .content p {
      margin-top: 40px;
      margin-bottom: 50px;
    }

    &::before,
    .inner-image {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      width: calc(100% - 7px);

      @include transition(400ms all $cubic);
    }

    .inner-image {
      z-index: 0;
      // height: calc(100% - 7px);
      height: 100%;
      top: 0;
    }

    h3 {
      position: relative;
      font-family: $br;
      font-weight: 700;
      margin-bottom: 5px;
    }

    h3,
    p.color-red {
      text-transform: uppercase;
    }

    &::before {
      content: "";
      background: linear-gradient(to bottom, rgba(30, 30, 30, 0) 0%, rgba(30, 30, 30, 0.85) 50%);
      z-index: 1;
      opacity: 0;
      height: calc(40% - 7px);
      bottom: 0;
      
      @include transform(translate(0, 40px));
    }

    .absolute-link {
      width: calc(100% - 6px);
      // height: calc(100% - 6px);
      height: 100%;
    }
  }
}

.image-cta-one {
  padding-top: 160px;
  padding-bottom: 160px;

  p.custom-60 {
    margin-bottom: 15px;
  }

  h2 {
    margin-bottom: 30px;
  }

  p:last-of-type {
    font-family: $fl;
    margin-bottom: 0;
  }

  .bws-button-wrapper {
    margin-top: 40px;
  }
}

.image-cta-two {
  padding-top: 140px;
  padding-bottom: 140px;

  h2 {
    margin-bottom: 10px;
  }
}

.text-cta-one h3,
.text-cta-one h2 {
  margin-bottom: 26px;
}

// #home-section-seven {}.custom-110 {
//   font-size: 2.25em;
//   line-height: 0.85em;
// }

.slider-row,
.lSSlideOuter {
  overflow: hidden;
  position: relative;

  [class^=col-] {
    position: relative;
  }

  .lSPager,
  .arrow-column,
  .arrow-column .arrow {
    @include flexbox();
    @include align-items(center);
    @include justify-content(center);
  }

  .arrow {
    width: 30px;
    height: 30px;
    z-index: 2;

    @include transition(400ms all $cubic);

    svg {
      pointer-events: none;

      path {
        @include transition(400ms all $cubic);
      }
    }

    &.next {
      right: 20px;
    }

    &.left {
      left: -4.33%;
    }

    &.disabled {
      pointer-events: none;

      path {
        stroke: $color-gray-border;
      }
    }
  }

  .lSPager {
    margin-top: 40px;

    .active a {
      background: red;

      @include transform(scale(0.8));
    }

    a,
    li {
      width: 9px;
      height: 9px;
      border-radius: 50%;
    }

    li {
      margin-right: 10px;

      &:last-of-type {
        margin-right: 0;
      }
    }

    li a {
      background: $color-gray;
      font-size: 0;
      padding: 4.5px;
      transform-origin: center;
      display: inline-block;

      @include transition(400ms all $cubic);
    }
  }
}

.testimonial-list {
  // @include transition(600ms all $cubic);
  transition-timing-function: $cubic;
  // transition-delay: 400ms;
  transition-duration: 800ms;


  .inner-wrapper {
    padding-left: 25px;
    padding-right: 25px;
  }

  img {
    margin-bottom: 10px;
    max-width: 40px;
  }

  .large {
    margin-bottom: 27px;
    font-size: 1.25em;
    font-weight: 500;
  }

  svg {
    margin-bottom: 30px;
  }
}

// footer
footer {
  background: $color-black;

  p.large {
    margin-bottom: 35px;
    color: $color-white;
  }

  .menu a,
  .xs-small,
  .xxs-small,
  .xs-small a {
    font-family: $pnr;
    font-weight: normal;
  }

  p,
  a.inline-link-single.white {
    color: $color-footer-text;
    overflow: visible;
  }

  a.inline-link-single.white::after,
  a.inline-link-single.white::before {
    background: $color-footer-text;
    bottom: -3px;
  }

  .menu {
    li {
      margin-bottom: 20px;
    }

    a {
      font-size: 0.8125em;
    }
  }

  .eapps-twitter-feed-posts-item-inner,
  .eapps-twitter-feed-posts,
  .eapps-twitter-feed-inner {
    background-color: transparent;
  }

  .eapps-twitter-feed-posts-item-inner {
    @include flexbox();
    @include flex-direction(column);

    font-family: $pnr;
    font-size: 13px;
  }

  .eapps-twitter-feed-extra-small .eapps-twitter-feed-posts-item:first-of-type {
    padding: 0;
  }

  .eapps-twitter-feed-extra-small .eapps-twitter-feed-posts-item-inner:last-of-type {
    padding-bottom: 0;
  }

  .eapps-twitter-feed-posts-item-text {
    color: $color-white;
  }

  .eapps-twitter-feed-posts-item-text {
    margin-top: 0;
  }

  .eapps-twitter-feed-posts-item-user-date {
    font-size: 11px;
    font-family: $pnr;
    color: $color-footer-text;
  }

  .eapps-twitter-feed-hide-header .eapps-twitter-feed-posts-inner {
    margin: 0;
  }

  .eapps-twitter-feed-posts-show-more,
  .eapps-twitter-feed-posts-item-link,
  .eapps-twitter-feed-posts-item-media {
    display: none;
    visibility: hidden;
  }

  .eapps-twitter-feed-posts-item-text {
    order: 1;
  }

  .eapps-twitter-feed-posts-item-user {
    order: 2;
  }

  .eapps-twitter-feed-extra-small .eapps-twitter-feed-posts-inner {
    margin-left: 0;
    margin-right: 0;
  }

  .eapps-twitter-feed-extra-small .eapps-twitter-feed-posts-item-inner {
    padding: 0 0 12px;
  }

  #subfooter {
    padding: 30px 0;
    border-top: 1px solid $color-gray-border;

    p,
    .menu li,
    .menu {
      margin: 0;
    }
  
    .menu li {
      margin-left: 20px;

      &:first-of-type {
        margin-left: 0;
      }

      a {
        font-size: 0.6875em;
      }
    }
  }
}

.social-list {
  position: relative;
  left: 3px;
  margin-top: 30px;

  li {
    margin-right: 20px;

    circle,
    path,
    a {
      @include transition(400ms all $cubic);
    }

    a:hover circle,
    a:hover path {
      opacity: 0.5;
    }
  }
}

// Breadcrumbs
.breadcrumbs {
  padding-top: 90px;
  margin-top: 0;
  margin-bottom: 0;

  @include flexbox();

  .seperator {
    margin-left: 10px;
    margin-right: 10px;
  }

  p {
    margin-bottom: 0;
  }

  li:not(:last-of-type) a,
  li:not(:last-of-type) p {
    // color: $color-footer-text;
    color: $color-white;
  }

  li:last-of-type p {
    color: $color-footer-text;
  }

  li:not(:first-of-type) a:hover {
    color: $color-white;
  }
}

.template-collection,
.template-page {
  .breadcrumbs {
    margin-bottom: 20px;
  }
}

// Comedians List Page
.main-comedian-list {
  .inner-wrapper {
    margin-left: 15px;
    margin-right: 15px;
  }

  li {
    overflow: hidden;
    margin-bottom: 30px;

    .content {
      overflow: hidden;
    }

    .name p.large {
      font-family: $pnr;
      font-weight: 600;
      position: relative;
      z-index: 2;

      &::before {
        position: absolute;
        content: "";
        width: 100%;
        background: linear-gradient(20deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 60%);
        left: 0;
        z-index: -1;
        bottom: 0;
        height: 180px;

        @include transform(translate(0, 44px));
      }
    }
  }
}

#comedians #comeidans-section-one h2 {
  margin-bottom: 0;
}

#about-section-one h2 {
  margin-bottom: 54px;
}

#about-section-one {
  [class^=col-] {
    position: relative;
  }

  .about-images-one {
    img:first-of-type {
      position: relative;
      left: 56%;
      margin-bottom: 20px;
      max-width: 120px;
    }

    img:nth-of-type(2) {
      max-width: 470px;
    }
  }

  .image-right {
    position: absolute;
    right: 0;
    max-width: 195px;
  }

  .about-image-text {
    max-height: 43%;
    position: absolute;
    left: 58.333%;
    bottom: -10%;
    max-width: 280.06px;
    max-height: 280.06px;
  }

  .about-bottom-images {
    position: absolute;
    right: 16.333%;
    // bottom: 8%;
    bottom: 12%;
    top: 70%;

    img {
      position: relative;
      top: -10%;

      &:first-of-type {
        max-width: 230px;
      }

      &:last-of-type {
        position: absolute;
        max-width: 55.333%;
        // top: -5%;
        // right: -35%;
        max-width: 134px;
        top: -30%;
        right: -55%;
      }
    }
  }
}

.about-right-image-one {
  max-width: 230px;
  right: 110.33%;
  bottom: 0;
}

.about-right-image-two {
  max-width: 143px;
  right: 70.33%;
  bottom: 70px;
}

.about-right-image-one,
.about-right-image-two {
  position: absolute;
}

.gallery-grid {
  margin-top: 8px;
  margin-bottom: 8px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 8px;
}

.side-margin-xs {
  margin-left: 8px;
  // margin-left: 16px;
  margin-right: 8px;

  .row {
    margin-left: 0;
    margin-right: 0;
  }
}

#about-section-four {
  #left-image {
    position: absolute;
    left: -50%;
    bottom: 30px;
    max-width: 116px;
  }
}

.dash-red-below {
  margin-bottom: 92px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    bottom: -50px;
    left: 0;
    width: 29px;
    height: 2px;
    background: $color-red;
  }
}

.faq-list {
  counter-reset: li-item;
  margin-bottom: 0;

  li {
    border: 1px solid $color-gray-border;
    position: relative;
    margin-bottom: 24px;

    &:last-of-type {
      margin-bottom: 0;
    }

    .line {
      position: absolute;
      content: '';
      height: 100%;
      top: 0;
      left: 0;
      width: 1px;
      background: $color-red;
      left: -1px;
      transform-origin: top;

      @include transform(scaleY(0));
    }

    a.faq-top {
      padding: 40px 37px 40px 50px;
      position: relative;

      @include flexbox();

      .text,
      &:before {
        font-family: $pnr;
        color: $color-white;
        position: relative;
      }

      .text {
        pointer-events: none;

        &::before {
          content: counter(li-item)". ";
          counter-increment: li-item;
          font-size: 1em;
          margin-right: 5px;
            
          @include inline-flex();
        }
      }

      &:hover {
        .icon {
          @include transform(rotate(90deg));
        }
      }

      &.active {
        .icon {
          background: transparent;
  
          svg {
            @include transform(rotate(180deg));

            path:first-of-type {
              fill: transparent;
            }
          }
        }

        &:hover .icon {
          @include transform(rotate(0deg));
        }
      }
    }

    .icon {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background: $color-red;
      border: 1px solid $color-red;
      pointer-events: none;

      @include flexbox();
      @include transition(400ms all $cubic);

      svg {
        transform-origin: center;
        pointer-events: none;
      }

      svg,
      svg path {
        @include transition(400ms all $cubic);
      }
    }

    .faq-content {
      height: 0;
      overflow: hidden;

      .inner-faq-content {
        padding: 0 37px 20px 50px;
      }
    }
  }
}

.icon-list li {
  margin-bottom: 60px;

  &:last-of-type {
    margin-bottom: 0;
  }

  h4 {
    font-family: $pnr;
  }

  @include flexbox();
  @include flex-direction(row);

  .list-icon {
    margin-right: 14px;
    margin-top: 5px;
  }

  h4 {
    margin-bottom: 17px;
  }
}

.image-with-caption {
  position: relative;

  .caption {
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin-bottom: 0;
    color: $color-gray;
  }
}

// Subweay Map
#subway-section-one h2 {
  margin-bottom: 27px;
}

#reservations-section-one {
  h2 {
    margin-bottom: 35px;

    + p {
      margin-bottom: 50px;
    }
  }

  #contact_form .form-wrapper {
    position: relative;
  }
}

.reserve-image {
  position: absolute;

  &:first-of-type {
    max-width: 228px;
    right: 0;
  }

  &:nth-of-type(2) {
    max-width: 184px;
    right: 4%;
    top: 16%;
  }

  &:nth-of-type(3) {
    max-width: 235.42px;
    top: 45%;
  }

  &:nth-of-type(4) {
    max-width: 120px;
    top: 58%;
    left: 9%;
  }

  &:last-of-type {
    max-width: 192px;
    top: 58%;
    right: 0;
  }
}

#general-page-section-two {
  p + h1,
  p + h2,
  p + h3,
  p + h4,
  p + h5,
  p + h6,
  ul + h1,
  ul + h2,
  ul + h3,
  ul + h4,
  ul + h5,
  ul + h6,
  ol + h1,
  ol + h2,
  ol + h3,
  ol + h4,
  ol + h5,
  ol + h6 {
    margin-top: 40px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 20px;
  }

  ul,
  ol {
    list-style: none;
    margin-bottom: 20px;
    padding-left: 0;

    li {
      position: relative;
      margin-bottom: 5px;
    }
  }

  ol {
    counter-reset: ol-item;

    li::before {
      content: counter(ol-item)". ";
      counter-increment: ol-item;
      font-size: 1em;
      margin-right: 5px;
      color: $color-white;
    }
  }

  ul li {
    padding-left: 20px;

    &::before {
      position: absolute;
      content: "";
      width: 8px;
      height: 8px;
      left: 0;
      top: 4px;
      border-radius: 50%;
      background: $color-red;
    }
  }
}

// Mobile Events Slider
.mobile-row,
.mobile-related {
  #mobile-related-events {
    @include transition(400ms all $cubic);
  }

  .schedule-list {
    margin-top: 6px;
  }

  .inner-wrap {
    position: relative;
    border: 1px solid $color-separator-dark-gray;
  }

  .lSPager {
    display: none;
    visibility: hidden;
  }

  .lightSlider {
    @include transition(400ms all $cubic);
  }

  .slider-column {
    width: 100%;
    max-width: calc(100% - 90px);
  }

  .lSSlideOuter {
    overflow: visible;
  }

  .lightSlider {
    li.lslide {
      left: 6px;
      position: relative;
    }
  }

  .arrow-column,
  .arrow-column .arrow {
    @include flexbox();
    @include justify-content(center);
    @include align-items(center);
  }

  .arrow-column {
    z-index: 3;

    .arrow {
      width: 30px;
      height: 30px;
      text-align: center;
    }
  }
}

.comedian-list.lightSlider {
  @include transition(400ms all $cubic);
}

//Mobile classes
.m-flex-show,
.m-block-show,
.m-inline-show,
.m-inline-block-show {
  display: none !important;
}

.show-on-tablet,
.mobile-row-block,
.mobile-row,
.mobile-related {
  display: none;
  visibility: hidden;

  .arrow-column[class^=col-] {
    padding: 0;
  }
}

@media all and (max-width: 1280px) and (min-width: 1025px) {
  #home-section-one .image-circles {
    &.two {
      left: 3.333vw;
    }

    &.three {
      left: 11vw;
    }

    &.five {
      left: -52.33%;
    }

    &.six {
      left: -0.67%;
    }
  }
}

@media all and (min-width: 1025px) {
  .comedian-list li:hover {
    .content,
    &::before {
      opacity: 1;

      @include transform(translate(0, 0));
    }

    .content {
      transition-delay: 200ms;
    }

    .name {
      opacity: 0;
      transition-delay: 0ms;

      @include transform(translate(0, 40px));
    }

    .inner-image {
      background-blend-mode: darken;
    }
  }
}

@media all and (min-width: 1024px) {
  .remove-side-padding-desktop > [class^=col-] {
    padding-left: 0;
    padding-right: 0;
  }
}

@media all and (max-width: 1024px) {
  body .comedian-list li .inner-image {
    background-color: transparent !important;
  }

  main .schedule-list .absolute-link,
  .events-collection-list .absolute-link {
    z-index: 3;
  }
}

@media (max-width: 1024px) {
  //Mobile classes
  .m-flex-show {
    display: flex !important;
  }

  .m-block-show {
    display: block !important;
  }

  .m-inline-show {
    display: inline !important;
  }

  .m-inline-block-show {
    display: inline-block !important;
  }

  .spacing-top-sm {
    padding-bottom: 60px;
  }

  .spacing-bottom-sm {
    padding-bottom: 60px;
  }

  .spacing-top-and-bottom-sm {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  #home-section-one {
    padding-bottom: 40px;

    h2 {
      margin-bottom: 120px;
    }
  }

  .schedule-list {
    [class^=col-] {
      .top {
        padding: 45px 25px;
      }

      h5 {
        text-transform: none;
      }
    }
  }

  .comedian-list.main-comedian-list li .inner-wrapper {
    padding-bottom: 150%;
  }

  .breadcrumbs {
    padding-top: 60px;
  }
} // End 1024 Max


@media all and (max-width: 1024px) and (min-width: 769px) {
  .reserve-image {
    &:first-of-type {
      right: -9%;
    }

    &:nth-of-type(2) {
      right: -5%;
    }

    &:nth-of-type(3) {
      left: -9%;
    }

    &:nth-of-type(4) {
      left: 3%;
    }

    &:last-of-type {
      right: -5%;
    }
  }

  .icon-list .text {
    word-break: break-all;
  }
}

@media all and (max-width: 1024px) and (min-width: 577px) {
  .schedule-list li[id^=schedule-item-]::after {
    position: absolute;
    content: "";
    right: -1px;
    width: 1px;
    top: 0;
    height: 100%;
    background: $color-gray-border;
  }

  #about-section-one .about-bottom-images {
    right: 20.333%;
    bottom: 16%;
    top: 65%;
    img:last-of-type {
      max-width: 100px;
      right: -30%;
    }
  }
}

// Duplicated - something about this row in mid tablet just dosen't listen
// @media all and (max-width: 768px) and (min-width: 645px) {
//   body #about-section-one {
//     .spacing-top-xxs {
//       padding-top: 0;
//     }

//     .spacing-bottom-lg {
//       padding-bottom: 0;
//     }

//     .about-images-one {
//       flex-basis: auto;
//       padding-top: 0;
//       max-width: 90%;
//       width: 100%;
//       padding-bottom: 0;
//       margin-bottom: 80px;
//       position: relative;

//       img {
//         position: relative;

//         &:first-of-type {
//           top: -20%;
//           left: 3%;
//           max-width: 90px;
//         }

//         &:nth-of-type(2) {
//           max-width: 200px;
//           right: 0;
//           top: -40%;
//           left: 70%;
//         }

//         &:last-of-type {
//           top: 5%;
//           left: 0%;
//           left: 8.333%;
//         }
//       }
//     }
//   }
// } // end 768 Max and 645 min

@media all and (max-width: 768px) {
  body.template-index {
    .custom-80 {
      font-size: 70px;
    }
  }

  #home-section-one {
    padding-top: 80px;
    padding-left: 25px;
    padding-right: 25px;
    position: relative;

    h2 {
      font-size: 34px;
      margin-bottom: 35px;
    }

    .image-circles {
      &.one {
        max-width: 90px;
        top: -100px;
        left: -40px;
      }

      &.two {
        display: none;
      }

      &.three {
        max-width: 110px;
        top: 355px;
        left: -50px;
      }

      &.four {
        display: none;
      }

      &.five {
        max-width: 140px;
        top: -75px;
        left: inherit;
        right: -22px;
      }

      &.six {
        max-width: 80px;
        top: -500px;
        left: inherit;
        right: -25px;
      }
    }
  }

  #home-section-two {
    padding-top: 60px;

    .custom-110 {
      font-size: 70px;
    } 
  }

  #subway-section-one {
    @include flexbox;
    @include flex-direction(column);

    .map-wrapper .google-map::before {
      opacity: 0;
    }

    > div {
      &:nth-of-type(1) {
        order: 1;
      }

      &:nth-of-type(2) {
        order: 3;
      }

      &:nth-of-type(3) {
        order: 4;
      }

      &:nth-of-type(4) {
        order: 2;
      }

      .subway-list {
        @include flex-direction(column);

        li {
          border-bottom: 1px solid $color-gray-border;
          width: 100%;

          p {
            margin-bottom: 0;

            a {
              display: block;
              font-size: 14px;
              margin: 15px auto;
              padding: 0 5px;
              width: 100px;
            }
          }
        }
      }
    }

    h2 {
      margin-top: 30px;
    }
  }

  #home-section-five {
    padding-bottom: 40px;

    > div {
      @include flexbox;
      @include flex-direction(column);

      >div:nth-of-type(1) {
        order: 2;
        margin-top: 20px;
      }

      >div:nth-of-type(2) {
        order: 1;
      }

      img:nth-of-type(2),
      img:nth-of-type(3) {
        left: 0;
      }

      img:first-of-type {
        top: 15px;
      }
    }

    .custom-80 {
      text-align: center;
    }

    .behind-red-two svg {
      left: 50%;
      transform: translateX(-50%);
    }

    .bws-button-wrapper {
      margin-bottom: 30px;
    }
  }

  #home-sections-seven {
    .row {
      margin-left: 0;
      margin-right: 0;
    }

    .custom-110 {
      font-size: 70px;
    }
  }

  #footer-section-one {

    .col-logo {
      display: none;
      visibility: hidden;
    }
  }

  //SCHEDULE PAGE
  body#schedule {
    #home-sections-seven {
      padding-top: 80px;
      padding-bottom: 0;
    }
  }

  //ABOUT PAGE
  #about-section-one {
    .spacing-top-xxs {
      padding-top: 0;
    }

    .spacing-bottom-lg {
      padding-bottom: 0;
    }

    .about-images-one {
      flex-basis: auto;
      padding-top: 0;
      max-width: 100%;
      width: 100%;
      padding-bottom: 0;
      // margin-top: 100px;
      position: relative;
      overflow: visible;

      img {
        position: relative;

        &:first-of-type {
          top: -20%;
          left: 3%;
          max-width: 90px;
        }

        &:nth-of-type(2) {
          max-width: 200px;
          // position: absolute;
          // right: 0;
          // top: 10%;
          // left: 60%;
          top: 4%;
          left: 0;
          display: block;
          right: 0;
          margin: 0 10% 0 auto;
        }

        &:last-of-type {
          // left: 45.333%;
          bottom: 12%;
          max-width: 300px;
          max-height: 300px;
          display: block;
          margin: auto;
          left: 0;
          right: 0;
        }
      }
    }

    .row:last-of-type {
      [class^=col-]:first-of-type {
        order: 2;
        // margin-top: -50px;
      }

      [class^=col-]:nth-of-type(2) {
        order: 1;
      }
    }

    .about-image-text {
      // left: 20.333%;
      left: 8.333%;
      bottom: 18%;
    }

    .image-right {
      max-width: 140px;
      max-width: 140px;
      right: 0;
      left: 76%;
      top: 20%;
      position: relative;
    }

    .about-right-image-two {
      bottom: -150px;
      max-width: 120px;
    }

    .text-copy {
      top: -40px;
    }
  }

  #about-section-two {
    background-position: 80% -80px !important;
    position: relative;

    &:before {
      content: "";
      background: linear-gradient(
        to bottom,
        transparent,
        rgba(0, 0, 0, 0.8)
      );
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    > .row {
      position: relative;
    }

    > div > div:nth-of-type(2) {
      margin-top: 60px;
      margin-bottom: 60px;
    }
  }

  //FAQ
  .faq-list {
    li {
       a.faq-top {
         padding: 20px;

         .text {
           max-width: calc(100% - 50px);
         }
       }
    }
  }

  //CONTACT
  #contact-section-one {
    padding-bottom: 0;

    .col-lg-6 {
      margin-top: 20px;
    }

    .image-with-caption {
      display: block;
      margin-bottom: 20px;
    }
  }

  .icon-list {
    // padding-left: 25px;
    // padding-right: 25px;

    li {
      margin-bottom: 30px;
    }
  }

  #contact-section-three {
    padding-bottom: 80px;
  }

  .hide-on-tablet {
    display: none;
    visibility: visible;
  }

  #home-section-six {
    padding-bottom: 40px;

    .row:first-of-type h2 {
      margin-bottom: 0;
      position: relative;
      top: 20px;
    }

    .row:last-of-type .underline-button-double {
      position: relative;
      top: -40px
    }
  }

  #home-section-six,
  #comedians-related {
    .comedian-list li {
      overflow: hidden;

      .inner-wrapper {
        padding-bottom: 160%;
      }

      &::before {
        opacity: 0.5;

        @include transform(translate(0,0));
      }
    }
  }

  footer {
    .show-on-tablet .menu,
    .show-on-tablet {
      @include flex-direction(column);
    }

    .menu {
      @include justify-content(space-between);
      @include flexbox();
      @include flex-wrap(wrap);  

      li {
        @include flex(0 0 50%);
      }
    }
  }

  .behind-red-three svg {
    width: 110%;
    bottom: 0;
    height: 100%;
    left: 0;

    @include transform(translate(0, 37%));
  }

  #home-section-two .behind-red-two svg {
    height: 100%;
    bottom: 0;
  }

  #schedule-sections-two {
    margin-top: 40px;
    padding-bottom: 0;
  }

  .about-bottom-images {
    display: none;
    visibility: hidden;
  }

  // .about-image-single {
    // left: 0;

    // @include transform(translate(0px, 0px) scaleX(-1));
  // }

  .gallery-grid {
    grid-template-columns: 1fr 1fr;
  }

  .spacing-top-and-bottom-lg {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .spacing-top-lg {
    padding-top: 100px;
  }

  .spacing-bottom-lg {
    padding-bottom: 100px;
  }

  .behind-red-one svg {
    bottom: -6px;
  }
} //Endo of 768px

@media all and (max-width: 1024px) {
  .schedule-list {
    .bws-button-wrapper,
    .bws-button-wrapper:not(:nth-of-type(5)) {
      position: relative;
      top: 0;
    }

    form {
      position: relative;
      bottom: 0;
      width: 100%;
    }

    .price-and-location {
      margin-bottom: 45px;

      li:last-of-type {
        @include justify-content(center);
        @include align-items(center);
        @include flex-direction(row);
      }
    }

    li[class^=col-],
    li {
      overflow: visible;

      @include flexbox();
      @include justify-content(space-between);
      @include flex-direction(column);

      .top {
        padding: 37px 30px 35px;
      }

      &:hover {
        .regular-button {
          @include transform(translate(0, 0));
        }
      }

      .regular-button {
        width: 100%;
        left: 0;
      }
    }
  }
}

@media all and (max-width: 768px) {
  ul.event-information {
    margin-top: 40px;
    padding: 0 30px;

    @include justify-content(center);
    @include flex-wrap(wrap);

    > li::before {
      top: -11px;
    }

    li ul {
      padding-bottom: 10px;
    }
  }

  .schedule-list {
    @include justify-content(center);

    li {
      h5 {
        margin-bottom: 49px;
      }

      .date {
        margin-bottom: 45px;

        li:first-of-type {
          margin-right: 10px;
          margin-left: 4px;
        }

        p {
          margin-bottom: 0;
        }
      }
    }
  }

  #product-hero-row {
    padding-bottom: 80px;
  }

  .spacing-top-sm {
    padding-top: 80px;
  }

  .spacing-bottom-sm {
    padding-bottom: 80px;
  }

  .spacing-top-and-bottom-sm {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .spacing-top-xs {
    padding-top: 45px;
  }

  .spacing-bottom-xs {
    padding-bottom: 45px;
  }

  .spacing-top-and-bottom-xs {
    padding-top: 45px;
    padding-bottom: 45px;
  }

  #subway-section-one {
    &.spacing-top-and-bottom-sm {
      padding-top: 30px;
      padding-bottom: 0;
    }
  }

  .show-on-tablet {
    @include flexbox();

    visibility: visible;
  }

  .mobile-subway-list {
    margin: 0;

    li [class^=col-]:last-of-type {
      padding-left: 30px;
    }

    li {
      border-bottom: 1px solid $color-separator-dark-gray;
      padding: 24px 30px;

      p {
        margin-bottom: 0;
      }

      &:last-of-type {
        border-color: transparent;
      }
    }
  }

  #about-section-four .row [class^=col-]:last-of-type {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  #comedians-related .slider-row > [class^=col-],
  #home-section-six .slider-row [class^=col-] {
    padding-left: 8.333%;
    transform-origin: center;

    @include transform(scale(0.85));

    .lSSlideOuter {
      overflow: visible;
    }
  }

  .image-cta-one {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  footer {
    #subfooter {
      padding: 35px 0 45px;
      margin-left: 8.3333%;
      max-width: 81.33333%;  
    }

    #footer-section-one {
      padding-bottom: 0;

      .row:first-of-type {
        padding-bottom: 20px;
      }
    }

    p.large {
      padding-top: 40px;
      // border-top: 1px solid $color-gray-border;
    }

    .s1 p.large {
      border-color: transparent;
      // padding-top: 20px;
    }
  }

  #comedians-section-one.spacing-top-and-bottom-sm {
    padding-top: 40px;
  }

  .comedian-list.main-comedian-list {
    margin-top: 0;
  }

  #contact-section-three,
  #home-section-six,
  #home-section-eight {
    padding-top: 60px;
  }

  #contact-section-one .row:last-of-type {
    [class^=col-]:first-of-type {
      order: 2;
    }

    [class^=col-]:last-of-type {
      order: 1;
      margin-bottom: 20px;
    }
  }
} // Max 768

@media all and (max-width: 768px) and (min-width: 577px) {
  .svg-text svg {
    width: 25%;
    height: 25%;
  }

  #home-section-two .svg-text svg {
    width: 18%;
    height: 18%;
  }

  .schedule-list li.col-xs-12:last-of-type {
    max-width: 99.8%;
  }

  .map-wrapper {
    padding-bottom: 80%;
  }

  footer {
    .eapps-twitter-feed-container,
    .social-list,
    .menu {
      margin-bottom: 55px;
    }

    .col-xs-6.col-xs-offset-1 {
      margin-left: 0;
      padding-left: 8.3333%;
      -ms-flex-preferred-size: 46.333%;
      flex-basis: 46.333%;
      max-width: 46.333%;
    }
  }
} // End 768 Max and 577 Min

@media all and (max-width: 576px) {
  .svg-text svg {
    width: 30%;
    height: 30%;
  }

  #home-section-two .svg-text svg {
    width: 25%;
    height: 25%;
  }

  #home-section-two .svg-text svg, {
    top: 0;
  }

  .desktop-row,
  .desktop-related {
    display: none;
    visibility: hidden;
  }

  .mobile-row,
  .mobile-related {
    visibility: visible;

    @include flexbox;
  }

  .mobile-row-block {
    display: block;
    visibility: visible;
  }

  .schedule-list {
    margin-bottom: 35px;
  }

  .map-wrapper {
    padding-bottom: 100%;
  }

  .spacing-top-sm {
    padding-top: 40px;
  }

  .spacing-bottom-sm {
    padding-bottom: 40px;
  }

  .spacing-top-and-bottom-sm {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  footer {
    .social-list {
      margin-bottom: 45px;
    }

    .eapps-twitter-feed-container,
    .menu {
      margin-bottom: 40px;
    }

    p.large {
      padding-top: 40px;
      border-top: 1px solid $color-gray-border;
    }

    .s1 p.large {
      border-color: transparent;
      padding-top: 20px;
    }

    .menu {
      margin-top: 0;
    }

    .col-xs-6 {
      -ms-flex-preferred-size: 81.3333%;
      flex-basis: 81.3333%;
      max-width: 81.3333%;
    }
  }

  .comedian-list.main-comedian-list li {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }

  .spacing-top-xxs {
    padding-top: 15px;
  }

  .spacing-bottom-xxs {
    padding-bottom: 15px;
  }

  .spacing-top-and-bottom-xxs {
    padding-top: 15px;
    padding-bottom: 15px;
  }
} // End 576px
