@import url('https://fonts.googleapis.com/css?family=Barlow:400,700&display=swap');

html {
  font-size: 62.5%;
}

body {
  // font-family: $font-body;
  // font-family: $fm;
  font-family: $fl;
  font-weight: $font-body-weight;
  font-style: $font-body-style;
  font-size: 16px;
  color: $color-white;
}

/* 
font-family: Proxima Nova;
font-style: normal;
font-weight: 500;

h1 - Barlow
font-size: 60px;
line-height: 74px;
  line-height: 72px;

Barlow
font-size: 110px;
line-height: 132px;

Barlow
font-size: 24px;
line-height: 34px;

font-family: Barlow;
font-size: 80px;
line-height: 80px;

Proxima Nova
font-size: 14px;
line-height: 14px;

font-family: Proxima Nova;
font-size: 12px;
line-height: 12px;

comedians Barlow;
font-size: 40px;
line-height: 26px;

proxima nova
font-size: 16px;
line-height: 24px;

font-family: Barlow;
font-size: 110px;
line-height: 132px;

font-family: Proxima Nova;
font-size: 14px;
line-height: 30px;

font-family: Proxima Nova;
font-size: 14px;
line-height: 21px;

font-family: Proxima Nova;
font-size: 14px;
line-height: 58px;
*/



@font-face {
  font-family: 'Futura-Light', sans-serif;
  src: url('~/fonts/FuturaLight.woff') format("woff");
}

@font-face {
  font-family: 'Futura-Medium', sans-serif;
  src: url('~/fonts/Futura-Medium.woff');
}

@font-face {
  font-family: 'Futura-Bold', sans-serif;
  src: url('~/fonts/Futura_Bold.woff') format("woff");
}


@font-face {
  font-family: 'Helio', sans-serif;
  src: url('~/fonts/Helio.ttf') format("truetype");
}

// @font-face {
//   font-family: 'Helio';
//   src: url('~/fonts/Helio.eot?#iefix') format('embedded-opentype'), url('~/fonts/Helio.woff') format('woff'), url('~/fonts/Helio.ttf')  format('truetype'),  url('~/fonts/Helio.svg#Helio') format('svg');
//   font-weight: normal;
//   font-style: normal;
// }

@font-face {
  font-family: 'Proxima Nova Regular', sans-serif;
  src: url('~/fonts/Proxima_Nova_Regular.woff');
}

h1,
h2,
h3,
h4,
h5,
h6 {
  // font-family: $font-heading;
  font-family: $fm;
  //font-family: 'Helio';
  font-weight: 400;
  margin-top: 0;
}

h1 {
  // font-size: 5.625em; // 90
  // font-size: 4.8em;
  font-size: 3.75em; // 60px
  line-height: 1.233em; // 74px
  // line-height: 1.25em;
  margin-bottom: 36px;
  font-family: 'Barlow', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

h2 {
  font-size: 3.125em; // 50
}

h3 {
  font-size: 1.875em; // 30
}

h4 {
  font-size: 1.625; // 26
}

h5 {
  font-size: 1.375em; // 22
}

h6 {
  font-size: 1.25em; // 20
}

.custom-60 {
  font-size: 3.75em; // 60
}

.font-helio {
  font-family: 'Helio', sans-serif;
  font-weight: 400;
}

p {
  margin-top: 0;
  font-size: 1em;
  line-height: 1.6em;
  margin-bottom: 1.25em;
  font-family: $fl;
}

p.small {
  font-size: 0.875em; // 14
  letter-spacing: 0.5px;
  line-height: 1.6em;
}

p.xs-small {
  font-size: 0.8125em; // 13
  letter-spacing: 0.5px;
  line-height: 1.6em;
}

p.xxs-small {
  font-size: 0.6875em; // 11
  line-height: 1.6em;
  letter-spacing: 0.5px;
}

.subtitle-gray {
  color: $color-gray;
}

body,
input,
textarea,
button,
select {
  -webkit-font-smoothing: antialiased;
  text-size-adjust: 100%;
}

a:focus {
  color: inherit;
}
