html {
  font-size: 62.5%;
}

body {
  // font-family: $font-body;
  // font-family: $fm;
  font-family: $fl;
  font-weight: $font-body-weight;
  font-style: $font-body-style;
  font-size: 16px;
  color: $color-white;
}

@font-face {
  font-family: 'Futura-Light', sans-serif;
  src: url('~/fonts/FuturaLight.woff') format("woff");
}

@font-face {
  font-family: 'Futura-Medium', sans-serif;
  src: url('~/fonts/Futura-Medium.woff');
}

@font-face {
  font-family: 'Futura-Bold', sans-serif;
  src: url('~/fonts/Futura_Bold.woff') format("woff");
}


@font-face {
  font-family: 'Helio', sans-serif;
  src: url('~/fonts/Helio.ttf') format("truetype");
}

h1,
h2,
h3,
h4,
h5,
h6 {
  // font-family: $font-heading;
  font-family: $fm;
  //font-family: 'Helio';
  font-weight: 400;
  margin-top: 0;
}

h1 {
  // font-size: 5.625em; // 90
  font-size: 4.8em;
  line-height: 1.25em;
  margin-bottom: 36px;
}

h2 {
  font-size: 3.125em; // 50
}

h3 {
  font-size: 1.875em; // 30
}

h4 {
  font-size: 1.625; // 26
}

h5 {
  font-size: 1.375em; // 22
}

h6 {
  font-size: 1.25em; // 20
}

.custom-60 {
  font-size: 3.75em; // 60
}

p {
  margin-top: 0;
  font-size: 1em;
  line-height: 1.6em;
  margin-bottom: 1.25em;
  font-family: $fl;
}

p.small {
  font-size: 0.875em; // 14
  letter-spacing: 0.5px;
  line-height: 1.6em;
}

p.xs-small {
  font-size: 0.8125em; // 13
  letter-spacing: 0.5px;
  line-height: 1.6em;
}

p.xxs-small {
  font-size: 0.6875em; // 11
  line-height: 1.6em;
  letter-spacing: 0.5px;
}

.subtitle-gray {
  color: $color-gray;
}

body,
input,
textarea,
button,
select {
  -webkit-font-smoothing: antialiased;
  text-size-adjust: 100%;
}

a:focus {
  color: inherit;
}
