@import url('https://fonts.googleapis.com/css?family=Barlow:400,700&display=swap');

html {
  font-size: 62.5%;
}

body {
  // font-family: $font-body;
  // font-family: $fm;
  font-family: $fl;
  font-weight: $font-body-weight;
  font-style: $font-body-style;
  font-size: 16px;
  color: $color-white;
}


@font-face {
  font-family: 'Futura-Light', sans-serif;
  src: url('~/fonts/FuturaLight.woff') format("woff");
}

@font-face {
  font-family: 'Futura-Medium', sans-serif;
  src: url('~/fonts/Futura-Medium.woff');
}

@font-face {
  font-family: 'Futura-Bold', sans-serif;
  src: url('~/fonts/Futura_Bold.woff') format("woff");
}

@font-face {
  font-family: 'Proxima-Nova';
  src: url('~/assets/Proxima Nova Alt Regular-webfont.eot');
  src: url('~/assets/Proxima Nova Alt Regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('~/assets/Proxima Nova Alt Regular-webfont.woff2') format('woff2'),
       url('~/assets/Proxima Nova Alt Regular-webfont.woff') format('woff'),
       url('~/assets/Proxima Nova Alt Regular-webfont.ttf') format('truetype'),
       url('~/assets/Proxima Nova Alt Regular-webfont.svg#proxima_nova_altregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  // font-family: $font-heading;
  // font-family: $fm;
  font-family: $br;
  //font-family: 'Helio';
  font-weight: 400;
  margin-top: 0;
}

h1 {
  // font-size: 5.625em; // 90
  // font-size: 4.8em;
  font-size: 3.75em; // 60px
  line-height: 1.233em; // 74px
  // line-height: 1.25em;
  margin-bottom: 36px;
  font-family: 'Barlow', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

h2 {
  // font-size: 3.125em; // 50
  font-size: 3.75em; // 60
  text-transform: uppercase;
  font-family: $br;
  font-weight: 700;
}

h3 {
  // font-size: 1.875em; // 30
  font-size: 2.5em; // 40
}

h4 {
  font-size: 1.625em; // 26
}

h5 {
  font-size: 1.5em; // 24
  line-height: 1.325em; // 34
  font-family: $br;
}

h6 {
  font-size: 1.25em; // 20
}

.custom-50 {
  font-size: 3.125em;
  line-height: 1.2em;
}

.custom-60 {
  font-size: 3.75em; // 60
  margin-bottom: 10px;
}

.custom-110 {
  // font-size: 6.875em; // 110px
  // line-height: 8.25em; // 132px
  // font-size: 2.1em;
  font-size: 132px;
  line-height: 1.1em;
}

.custom-80 {
  font-size: 5em;
  line-height: 1em;
  margin-bottom: 0;
}

.color-red {
  color: $color-red;
}

.font-helio {
  // font-family: $he;
  font-weight: 400;
}

.font-barlow {
  font-family: $br;
  font-weight: 700;
}

p {
  margin-top: 0;
  font-size: 1em;
  line-height: 1.6em;
  margin-bottom: 1.25em;
  // font-family: $fl;
  font-family: $pnr;
}

p.large {
  font-size: 1.125em;
}

p.small {
  font-size: 0.875em; // 14
  letter-spacing: 0.5px;
  line-height: 1.6em;
}

p.xs-small {
  font-size: 0.8125em; // 13
  letter-spacing: 0.5px;
  line-height: 1.6em;
}

p.xxs-small {
  font-size: 0.6875em; // 11
  line-height: 1.6em;
  letter-spacing: 0.5px;
}

.subtitle-gray {
  color: $color-gray;
}

body,
input,
textarea,
button,
select {
  -webkit-font-smoothing: antialiased;
  text-size-adjust: 100%;
}

a:focus {
  color: inherit;
}

@media all and (max-width: 1024px) and (min-width: 769px) {
  h1 {
    font-size: 3.5em;
  }

  h2 {
    font-size: 3.2em;
  }
}

@media all and (max-width: 768px) and (min-width: 577px) {
  h1 {
    font-size: 3.2em;
  }

  h2 {
    font-size: 3em;
  }
}

@media all and (max-width: 576px) {
  h1 {
    font-size: 3em;
  }

  h2 {
    // font-size: 2.8em;
    font-size: 1.875em;
  }
}